@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'gotham_htfmedium';
    src: url('../fonts/gothamhtf-medium.eot');
    src: url('../fonts/gothamhtf-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-medium.woff2') format('woff2'),
         url('../fonts/gothamhtf-medium.woff') format('woff'),
         url('../fonts/gothamhtf-medium.ttf') format('truetype'),
         url('../fonts/gothamhtf-medium.svg#gotham_htfmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_htf_bookregular';
    src: url('../fonts/gothamhtf-book-webfont.eot');
    src: url('../fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-book-webfont.woff') format('woff'),
         url('../fonts/gothamhtf-book-webfont.ttf') format('truetype'),
         url('../fonts/gothamhtf-book-webfont.svg#gotham_htf_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




body{
  font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif; 
  font-size:14px; color:#939393; font-weight:300; line-height:normal; 
  padding:0px; margin:0px;  
  }

ul, li, p, h2, h3, h5, select{ margin:0; padding:0;}
ul li{ list-style:none;}

.clear{clear:both;}

.inline_block{ display:inline-block;}

.margin_80{margin:80px auto;}

.margin_top80{margin-top:80px;}
.margin_top30{margin-top:30px;}
.margin_top20{margin-top:20px;}

.margin_bottom05{margin-bottom:5px;}

.padding_10{ padding:10px 0;}
.padding_15{ padding:15px 0;}
.padding_40{ padding:40px 0;}

.padding_bottom20{padding-bottom:20px;}

.left{float:left;}
.right{float:right;}
.text_left{ text-align:left;}
.text_right{text-align:right;}
.text_center{ text-align:center;}

.border_top{ border-top:1px solid #eaeaea;}
.border_bottom{ border-bottom:1px solid #eaeaea;}


.header_menu{padding:10px 0;}
.header_menu ul li{ display:inline-block; padding:0 15px;}
.header_menu ul li:first-child{ padding-left:0;}
.header_menu ul li, .header_menu ul li a{color:#a3a3a3; font-size:16px;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;}

.blog_calender select{color:#fff;font-size:16px;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;border:none; height:auto; outline:none;width:100%;
	margin:0 auto; padding:0;background:url(../images/icons/white_arrow.png) no-repeat right;
	appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
	}
.blog_calender .month{background:#d5d5d5;padding:10px 1%; width:18%;}
.blog_calender .year{background:#b2b2b2;padding:10px 1%; width:10%;}


.banner{position:relative;}

.banner_text_area{left: 0;right: 0;bottom: 0;position: absolute;background: rgba(0,0,0,.6); text-align:center;}
.banner_text{padding:30px 15% 20px;}
.banner_text p{color:#fff; font-size:20px;}
.no_show{display:none;}
.banner_text_area:hover .no_show{display:block; cursor:pointer;}
.read_more{background:#df4a4a; border-radius:8px;display:inline-block; padding:10px; color:#fff; margin-bottom:20px;}
.social_icons{margin-bottom:15px;}
.social_icons li{display:inline-block;}

.blog_content{padding:90px 70px 0;}
.blog_content h3{font-size:20px;font-weight: normal;color:#333;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif; line-height:20px;}
.blog_content h5{font-size:14px;color:#333;font-weight: normal;font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif; line-height:20px;}
.blog_content .social_icons img{ border:1px solid #d5d5d5;border-radius: 8px;}


footer{background:#ccc5c5;font-size: 13px; color:#fff !important;}

/* pagination */
.pagination>li>a, .pagination>li>span{border:none; font-size:20px; color:#b2b2b2; font-family: Helvetica, Arial, Verdana, sans-serif;padding: 4px 12px;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
	background-color: #df4a4a;
    border-color: #df4a4a;
	color:#fff;
	}

/* carousel */

.banner_area_left{ padding-right:8px;}
.banner_area_right{ padding-left:8px;}

.media-carousel .carousel-control.left 
{
  left:0;
  background-image: none;
  background: none repeat scroll 0 0 #fff;
  height:55px;
  width :55px;
  top: 35%;
  opacity:1;
  font-size:65px;
  line-height: 42px;
  color:#666;
  text-shadow:none;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right:0;
  background: none repeat scroll 0 0 #fff;
  height:55px;
  width :55px;
  top: 35%;
  opacity:1;
  font-size:65px;
  line-height: 42px;
  color:#666;
  text-shadow:none;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.banner img
{
  max-width:100%;
}
/* End carousel */


.archive_area h2{font-size:20px;}
.archive_area .right_bar{ padding:0;}
.archive_area .blog_calender .month{width:60%;}
.archive_area .blog_calender .year{width:40%;}
.archive_area img{max-width:100%;}
.topics{position:relative;}
.topics .banner_text_area{padding:15px 10px;}
.right_bar .topics p{font-size:14px;color:#fff; margin:0; padding:0;}
.right_bar p{font-size:12px;color:#666; margin:0; padding:0;}
.right_bar .category li{color:#333;font-size:14px; line-height:24px;}

.left_bar h2{font-size:25px;line-height: 30px;}
.left_bar h5 {
    font-size: 14px;
    color: #333;
    font-weight: normal;
    font-family: 'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;
    line-height: 20px;
}
.left_bar h5 span{color:#df4a4a;}
.left_bar p{color:#939393; font-size:14px; line-height:20px; text-align:justify;}
.left_bar .social_icons img{ border:1px solid #d5d5d5;border-radius: 8px;}

.tag ul li{display:inline-block; background:#f2f2f2; padding:8px 10px; font-size:12px; color:#333;}
.tag ul li:first-child{background:none; margin-right:10px; font-size:14px; padding:0;}

.relate_topic{ padding-bottom:50px;}
.relate_topic ul li{ display:inline-block;width:24%; margin-left:3%;}
.relate_topic ul li:first-child{ margin-left:0;}
.relate_topic ul li p{color:#3d3c3c; font-size:12px; line-height:16px; margin-top:15px; margin-bottom:0;}

.left_bar h3{font-size:16px;
    font-weight: normal;
    color: #333;
    font-family: 'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;
    line-height: 20px;}
.comment ul li{ margin-top:20px;}
.img_icon, .comment_area{ display:inline-table;}
.comment_area{margin-left:10px;width:92%;}
.comment_area .lower{ background:#f9f9f9; padding:20px 15px; margin-top:10px; font-size:12px; color:#333; line-height:16px; text-align:justify;}
