body{ overflow-x:hidden;}


button{ background:#E04A4B; font-size:13px; margin:20px 0 25px 0; border-radius:6px; color:#fff; padding:7px 13px;
 font-weight:600; letter-spacing:2px; 
border:0; outline:none;}
.up_main input, select{ background: #F0EDE6;
    font-size: 13px;
    font-weight: 600;
    color: #908E8F;
    outline: none;
    height: 48px;
    font-weight: normal;
    border-radius: 6px;
    margin: 0px 15px 10px 0;
    padding: 10px; 
	background: -moz-appearance:none; -webkit-appearance:none; 
    border: 1px solid #E4DDD3;}


	
.leftsite_menu{ width:18%; float:left; padding-bottom:15%;  margin-right:1%; background:#F7F4EF;}
.leftsite_menu ul{ margin:0; padding:0;}
.leftsite_menu ul li { list-style:none; border-bottom:1px solid #D0D0CE;}


.leftsite_menu ul li .a-img01, .a-img02, .a-img03, .a-img04, .a-img05, .a-img06, .a-img07, .a-img08 {
display:inline-block; vertical-align:middle; overflow:hidden; background:url(../img/sprite.png) no-repeat; text-align: left; width: 30px; height: 34px; margin-right:9px;}

.leftsite_menu ul li:hover {background:#e04a4b;}
.leftsite_menu ul li a:hover {color:#fff !important;}

.leftsite_menu ul li .a-img01 { background-position:-10px -880px; }
.leftsite_menu ul li:hover .a-img01 { background-position:-10px -396px; }
.leftsite_menu ul li .active_w .a-img01 { background-position:-10px -396px; }

.leftsite_menu ul li .a-img02 { background-position:-10px -792px; }
.leftsite_menu ul li:hover .a-img02 { background-position:-10px -836px; }
.leftsite_menu ul li .active_w .a-img02 { background-position:-10px -836px; }

.leftsite_menu ul li .a-img03 { background-position:-10px -1012px; }
.leftsite_menu ul li:hover .a-img03 { background-position:-10px -968px; }
.leftsite_menu ul li .active_w .a-img03 { background-position:-10px -968px; }

.leftsite_menu ul li .a-img04 { background-position:-10px -44px; }
.leftsite_menu ul li:hover .a-img04 { background-position:-10px -0px; }
.leftsite_menu ul li .active_w .a-img04 { background-position:-10px -0px; }

.leftsite_menu ul li .a-img05 { background-position:-10px -1100px; }
.leftsite_menu ul li:hover .a-img05 { background-position:-10px -1056px; }
.leftsite_menu ul li .active_w .a-img05 { background-position:-10px -1056px; }

.leftsite_menu ul li .a-img06 { background-position:-10px -484px; }
.leftsite_menu ul li:hover .a-img06 { background-position:-10px -352px; }
.leftsite_menu ul li .active_w .a-img06 { background-position:-10px -352px; }

.leftsite_menu ul li .a-img07 { background-position:-10px -440px; }
.leftsite_menu ul li:hover .a-img07 { background-position:-10px -924px; }
.leftsite_menu ul li .active_w .a-img07 { background-position:-10px -924px; }

.leftsite_menu ul li .a-img08 { background-position:-10px -220px; }
.leftsite_menu ul li:hover .a-img08 { background-position:-10px -88px; }
.leftsite_menu ul li .active_w .a-img08 { background-position:-10px -88px; }

/*==================END my account left menu sprite image css ====================*/


.leftsite_menu ul li:last-child{ border:0;}
.leftsite_menu ul li a:hover{ /*width: 103.5%; background-size: 100% 68px;*/ border-bottom: 0 !important; display:block;}
.leftsite_menu ul li a{ font-size:12px; letter-spacing:0.4px; display:block; padding:17px 10px; color:#91908E;  line-height:30px;}
.leftsite_menu ul li a img{ padding-right:12px; width:38px; float:left;}
.leftsite_menu ul li a.active_w:hover { color:#fff !important; display:block !important;}
.active_w{ color:#fff !important; background: url(../img/arrow2.png) no-repeat; width: 103.5%; background-size: 100% 68px; border-bottom: 0 !important;}

.account_topleft{width:80%; float:left; padding:20px 0px 0 15px;}

.account_topleft h4 {font-size:18px;}
.account_topright{ width:33%; float:left;}
.colo_q{ color:#E04A4B;}
.upload_area{ width:150px; float:left;}
.upload_area img{ margin:15px 0 6px 0; max-width: 155px; max-height: 155px;}
.upload_area a img{ margin:0;}
.upload_area a u{font-size:11px;}
.personal_in{ width:100%; margin-top:6%; float:left;}
.personal_in table{ width:100%;}
.personal_in table tr td{ color:#A09999; padding:12px 0; font-size:12px;}
.personal_in table td:first-child{ width:211px;	}
.personal_in h5{ font-size:12px; font-weight:bold; padding-bottom:12px; width:100%; border-bottom:1px solid #CCC;}
.no_un{ border-bottom:0px solid !important;}
.chek_ar{ margin-right:6px; font-size:12px;}
.u_right{ margin-right:10px !important;}
.right_box{ background:#FAF8F9; font-size:12px; margin-top:15px; text-align:center; padding:15px 20px; width:95%; float:left;}
.right_box input{ background:#F0EDE6; font-size:12px; font-weight:600; color:#908E8F; outline:none; height:48px; width:100%; border-radius:6px; 
margin:10px 0; padding:10px; border:1px solid #E4DDD3;}
.right_box button{ background:#E04A4B; font-size:14px; margin:20px 0 25px 0; border-radius:6px; color:#fff; padding:8px 0; font-weight:500; letter-spacing:1px; width:130px; border:0; float:left;}
input[type=submit].submit-btn {background: #E04A4B; font-size: 14px; margin: 20px 0 25px 0; border-radius: 6px; color: #fff; padding: 8px 0; font-weight: 500;
    letter-spacing: 1px; width: 130px; border: 0;float: left; height: auto; }  
.padding_r{ padding-right:7%;}
.top_m{ margin-top:5px; padding-top:20px; padding-bottom:0; text-align:left; }
.new_select01{ padding:0 5% 0 0;}
new_select01left{padding:0 5% 0 0;}
.new_select01 h4{ padding:12% 0 4% 0; color:#91908E;}
.new_select01 select{ -moz-appearance:none; -webkit-appearance:none;  background:#F0EDE6 url(../img/ar.png) no-repeat 96%; font-size:12px; 
font-weight:normal; color:#908E8F; outline:none; height:48px; width:100%; border-radius:6px; 
 padding:10px 20px; border:1px solid #E4DDD3;}
 .ticket_box h5{ font-size:12px; padding-top:7%;}
 .ticket_box table tr th{ border-bottom:1px solid #CCC; border-top:1px solid #CCC; color:#A09999; font-size:12px; font-weight:normal; padding:20px 0;}
 .ticket_box table tr td{ padding:15px 0 20px 0; font-size:12px; font-weight:normal;}
 
 .fieldlist{ width:100%; margin-top:10px; padding:15px; border-radius:10px; background:#F0EDE6;}
 .fieldlist label{ width:100%; float:left; padding:10px 10px; margin:0;}
 
 .fieldlist input[type="radio"] {
    float: right;
    -webkit-appearance: none;
    border: none;
    width: 25px;
	outline:none;
    height: 25px;
   background:#F0EDE6 url(../img/radio.png) left center no-repeat;    
    background-size: 20px; 
}
.compacttext input[type="radio"]{ float:left; margin:0; margin-right:6px; margin-top: -5px;}
.fieldlist input[type="radio"]:checked {outline:none;
    background: url(../img/in2.png) left center no-repeat;
}

.chek_ar input[type="checkbox"], .chek_ar input.u_right{ float:left; border-radius: inherit; border:0;  width:23px;background: url(../img/rightup.png) left center no-repeat !important; height:20px; outline:none;  margin:0; margin-right:6px; margin-top: -2px;}
.chek_ar input[type="checkbox"]:checked {outline:none;
    background: url(../img/right.png) left center no-repeat; width:23px ; height:20px;
}


.new_select01new{
    padding: 0 7% 0 0;
    width: 46%;
	min-height:500px;
    margin-right: 5%;
    float: left;
    border-right: 1px solid #E4DDD3;}
	.new_select01new2{
    width: 44%;
    float: left;
   }
 .new_select01new .compacttext {font-size:12.6px;}
.payment_table table { margin-top:12%; margin-bottom:8%; }
.payment_table table tr td{ padding-bottom:5%; font-size:12px; color:#D0CCCB; font-weight:normal; letter-spacing: 1.4px;}
.payment_tablolde table tr td{ font-weight:bold !important;}
.payment_table table tr td:last-child{ width:50%; color:#9A9A9A;}



.up_document{font-size: 12px; margin-top:6%;font-weight: bold; padding-bottom: 12px; width: 62%; border-bottom: 1px solid #CCC;}
.document_box{ width:65%; float:left; position:relative;}
.document_sec{ width:83%; float:left;}
.document_box input{ background: #F0EDE6;
    font-size: 13px;
    font-weight: 600;
    color: #908E8F;
    outline: none;
    height: 48px;
	font-weight:normal;
    width: 246px;
    border-radius: 6px;
    margin: 10px 11px 0px 0;
    padding: 10px;
    border: 1px solid #E4DDD3;}
.document_box select{background: #F0EDE6;
    font-size: 13px;
    font-weight: 600;
    color: #908E8F;
    outline: none;
    height: 48px;
	font-weight:normal;
    width: 246px;
    border-radius: 6px;
    margin: 13px 11px 0px 0;
    padding: 10px;
    border: 1px solid #E4DDD3;}
	
.document_box select{ background:#F0EDE6 url(../img/ar.png) no-repeat 96%; -moz-appearance:none; -webkit-appearance:none; }
.in_off{ width:35%; float:left; margin-right:0px;}
.in_off input{background: #F0EDE6; height: 48px;border-radius: 6px;    width:246px;
    margin-right:11px; border: 1px solid #E4DDD3; outline:none;}
.in_off h6{ margin:20px 0 12px 0; font-weight:normal; color:#909090; padding:0; font-size:13px; }
.in_off button{ background:#676767; padding:7px 16px; outline:none; margin-top: 6px; font-size:14px; letter-spacing:2px;}
.in_off a.btn{ background:#676767; padding:5px 14px; outline:none; margin-top: 6px; font-size:14px; letter-spacing:2px; color:#fff;font-weight: 600; border-radius:6px;}
.in_off input[type="file"]{ background:#676767; padding: 8px 14px; outline:none;}
.submit_a{ padding:15px 27px; font-size:16px; margin:15px 0 0 0;}
.amin_w{ width:167px; float:left;}
.get_area select{ width:100%; }
.new5{ padding-left:0;}
.get_area button{ width:128px;}
.get_area select{background:#F0EDE6 url(../img/ar.png) no-repeat 96% !important;}
.add_ppddingg{ padding-bottom:4.6%;  color: #E04A4B;}
.date_icon{ background:#F0EDE6 url(../img/calendar.png) no-repeat 94% 5px !important;}

.margG03{ margin-top:0 !important;}
.innJumper2 { background: rgba(0, 0, 0, 0.6);right: 76px;bottom: 26px;display: block;height: auto;margin: 0;padding: 28px 28px 28px 28px;color: #FFF;
font-size: 27px;font-weight: 300 ; /*font-family: 'gotham_htfmedium';*/ letter-spacing: 2px; position: absolute; min-width: 350px; z-index:1;}

.contact_write h2{font-size: 16px;font-family: 'gotham_htfmedium'; margin-bottom:22px;}
.contact_write input, select{ background: #F0EDE6;font-size: 13px;font-weight: 600; color: #908E8F; outline: none; height: 48px; font-weight:normal;
 width: 100%;  border-radius: 6px;  margin: 0px 15px 10px 0;  padding: 10px 10px 10px 25px;  border: 1px solid #E4DDD3;}
.contact_write textarea{ background: #F0EDE6;font-size: 13px;font-weight: 600; width:100%;  color: #908E8F; outline: none; font-weight:normal;
  border-radius: 6px;  margin: 0px 15px 10px 0;  padding: 10px 10px 10px 25px;  border: 1px solid #E4DDD3;}
  
  /*input, select{ background: #F0EDE6;font-size: 13px;font-weight: 600; color: #908E8F; outline: none; height: 48px; font-weight:normal;
 width: 100%;  border-radius: 6px;  margin: 0px 15px 10px 0;  padding: 10px 10px 10px 25px;  border: 1px solid #E4DDD3;}*/
 
 textarea{ background: #F0EDE6;font-size: 13px;font-weight: 600; width:100%;  color: #908E8F; outline: none; font-weight:normal;
  border-radius: 6px;  margin: 0px 15px 10px 0;  padding: 10px 10px 10px 25px;  border: 1px solid #E4DDD3;}

.order-gray-bg  input, select{ background: #fff;font-size: 14px;font-weight: 700; color: #908E8F; outline: none; height: 48px; font-weight:normal;
 width: 100%;  border-radius: 6px;  margin: 0px 15px 10px 0;  padding: 10px 10px 10px 25px; letter-spacing:1px;  border: 1px solid #E4DDD3;}

.contact_pad{ padding:0 10%;}
.contact_pad input[type="submit"].submit_acontact{}
input[type="submit"].submit_acontact{ padding:16px 30px; font-size: 14px; margin:0;background: #E04A4B;font-size: 13px;border-radius: 6px;
	color: #fff;font-weight: 600;letter-spacing: 2px;border: 0;outline: none;width:auto;}

.contact_right h2{font-size: 16px;font-family: 'gotham_htfmedium'; margin-bottom:22px;}
.contact_right ul{ margin:0; padding:0;}
.contact_right ul li{ vertical-align:top; list-style:none; margin:0; padding:0; width:24%; display:inline-table; text-align:center; margin-bottom:100px;}
.contact_right li:last-child{width:50%;}
.contact_right li:after{ clear:both; content:'';}
.contact_right ul li h2{font-size:14px; color:#505050;     letter-spacing: 0.2px; line-height:41px; margin:0; font-weight:normal;font-family: 'gotham_htfmedium';}
.contact_right ul.locati06 li{width:100%;text-align: left;}
.address h3{color:#E04A4B;text-align: left; margin:20px 0; font-size:13px; font-weight: normal;}
.mardB7{ margin:10px 0 25px 0;}
.compacttext span{ color:#000;}
.dd0WM{ margin-top:4%;}
.new_a9w02{ width:180px !important;}
.qqwidth2r{ width:100%;}
.d02padding{ padding: 8px 21px;}
.select_wwq1 select{ background:#F0EDE6 url(../img/ar.png) no-repeat 96%; font-size:12px; font-weight:normal;}
.locati06 li{ margin:0 !important; padding:3px 0 !important; border:none !important; font-weight: normal !important; font-family:'gotham_htf_bookregular'; font-size:12px; color:#939393;}
.select_wwq1 h3{ font-size:12px; margin-top: 4%; font-weight:600; letter-spacing:1px; color:#df4a4a;}
.down_soi22 img{ margin:20px 17px 0 0;}
.down_soi22 a img:hover{ opacity:0.5;}
.paraw01{ width:47%;}
.new_as5t select{ width:86% !important;}
.margG03{ margin-top:0 !important;}
.right_ww2{ margin-right:29px !important;}

.find-input {width:27.5%; display:inline-block; padding:0 9px; }
.find-input-btn {width:16%; display:inline-block; padding:0 9px; margin-bottom:16px; }
.find-input-btn input[type="submit"] {width:100%;}
.find-input-area input, select{ background: #F0EDE6;font-size: 13px;font-weight: 600; color: #908E8F; outline: none; height: 48px; font-weight:normal;
 width: 100%;  border-radius: 6px;  margin: 0px 15px 10px 0;  padding: 10px 10px 10px 25px;  border: 1px solid #E4DDD3;}
.find-input-area textarea{ background: #F0EDE6;font-size: 13px;font-weight: 600; width:100%;  color: #908E8F; outline: none; font-weight:normal;
  border-radius: 6px;  margin: 0px 15px 10px 0;  padding: 10px 10px 10px 25px;  border: 1px solid #E4DDD3;}
.find-input-area select { -moz-appearance: none; -webkit-appearance: none; background: #F0EDE6 url(../img/ar.png) no-repeat 96%; font-size: 12px; 
  font-weight: normal; color: #908E8F; outline: none; height: 48px; width: 100%; border-radius: 6px; padding: 10px 20px; border: 1px solid #E4DDD3;}
.find-store {margin-top:0;}
.find-input-area{margin-top:7%;}
select { -moz-appearance: none; -webkit-appearance: none; background: #F0EDE6 url(../img/ar.png) no-repeat 96% !important; font-size: 12px; 
  font-weight: normal; color: #908E8F; outline: none; height: 48px; width: 100%; border-radius: 6px; padding: 10px 20px; border: 1px solid #E4DDD3;}
  
.post-full-area .scrollpanel {width:100%; height:529px;}
.post-full-area .scrollpanel .sp-scrollbar { width:36px; background-color:#efefef; cursor:pointer;}
.post-full-area .scrollpanel .sp-scrollbar .sp-thumb {  background-color: #d5d3d4;  transition: height 0.2s ease-in-out; margin-top:19px;}
.post-full-area .scrollpanel .sp-scrollbar.active .sp-thumb { background-color: #d5d3d4;}
.post-full-area .no2 .sp-scrollbar,.no4 .sp-scrollbar { margin: 4px;}
.post-full-area .no4 { border-radius:0px;}
.post-full-area .no4 .sp-scrollbar { border-radius:0px;}
.post-full-area .no4 .sp-scrollbar .sp-thumb { border-radius:0px;}

.tab-search-area .scrollpanel {width:100%; height:386px; position:relative;}
.tab-search-area .scrollpanel .sp-scrollbar { width:36px; background-color:#efefef; cursor:pointer;}
.tab-search-area .scrollpanel .sp-scrollbar .sp-thumb {  background-color: #d5d3d4;  transition: height 0.2s ease-in-out; margin-top:19px;}
.tab-search-area .scrollpanel .sp-scrollbar.active .sp-thumb { background-color: #d5d3d4;}
.tab-search-area .no2 .sp-scrollbar,.no4 .sp-scrollbar { margin: 4px;}
.tab-search-area .no4 { border-radius:0px;}
.tab-search-area .no4 .sp-scrollbar { border-radius:0px;}
.tab-search-area .no4 .sp-scrollbar .sp-thumb { border-radius:0px;}
  
  
  
.tab-search-area {position:relative;}
.view-top-link a {float:right; font-size:18px; position:absolute; top:16px; right:56px; text-decoration:underline; }
.view-bottom-link a {float:right; font-size:18px; position:absolute; bottom:29px; right:56px; text-decoration:underline; }
.tab-search h2 {text-align:left; color:#de4a4a; margin-bottom:12px; font-size: 32px;}
.tab-search p {font-size:16px; margin-bottom:10px;}
.tab-search button {padding:5px 14px !important; margin-top:16px; letter-spacing:1px; font-size:15px;}
.tab-search p span {color:#333;}
.c-top {margin-top:5%;}
.faq-cat-t select {border:0; border-radius:0; padding-left:36px; background: #f4f4f4 url(../img/ar.png) no-repeat 96%; height:66px; font-size:16px; letter-spacing:normal;}
.t-pad {padding-left:0; padding-right:0;}
.team-popup .faq-cat-content {margin-top: 25px;}
.team-popup .faq-cat-tabs {border:0;}
.team-popup .faq-cat-tabs li {width:32%; margin-right:12px;}
.team-popup .faq-cat-tabs li a { padding:22px 12px; background-color: #f4f4f4; border:0; text-align:center;font-size:16px; color:#de4a4a; border-radius:0;}
.team-popup .faq-cat-tabs li a span {color:#777777;}
.team-popup .faq-cat-tabs li a:hover {background-color: #df4a4c; color:#fff;}
.team-popup .faq-cat-tabs li a:hover span {color:#fff;}
.team-popup .faq-cat-tabs li a:focus span {color:#fff;}
.team-popup .faq-cat-tabs li a:active span {color:#fff;}
.team-popup .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background-color: #df4a4c; color:#fff; border:0; background-image:none; padding: 22px 12px;}
.team-popup .nav-tabs li a:hover {background-image:none;  color:#fff; background-color: #df4a4c; padding:22px 12px;border:0; }
.team-popup .nav-tabs li a:focus {outline:none; background-image:none; color:#fff; padding:22px 12px;border:0; background-color:#df4a4c;}
.team-popup .nav-tabs>li.active>a {background-color: #df4a4c; color:#fff !important;}
.team-popup .nav-tabs>li.active>a span {color:#fff;}    




/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color:#F7F4EF;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:0px solid #ddd;
  margin-top: 20px;
  margin-left:0px;
 
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;     width: 18%;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;  min-height: 696px;
    background: #f7f4ef;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;  border:0; border-top:1px solid #D0D0CE; color:#91908E; font-size:12px;
}
div.bhoechie-tab-menu .list-group-item {background:#f7f4ef;  padding:12px 10px;}
div.bhoechie-tab-menu div.list-group>a {padding:18px 10px;} 

/*===========================product support left menu sprite css start=======================*/

div.bhoechie-tab-menu div.list-group>a .a-img09, .a-img10, .a-img11, .a-img12, .a-img13 {
color:#91908E; display:inline-block; vertical-align:middle; overflow:hidden; background:url(../img/sprite.png) no-repeat; text-align: left; 
width:30px; height: 34px; margin-right:12px; margin-left:9px;}

div.bhoechie-tab-menu div.list-group>a .a-img09 {background-position:-10px -176px;}
div.bhoechie-tab-menu div.list-group>a:hover .a-img09 {background-position:-10px -132px;}
div.bhoechie-tab-menu div.list-group>a.active .a-img09 {background-position:-10px -132px;}

div.bhoechie-tab-menu div.list-group>a .a-img10 {background-position:-10px -748px;}
div.bhoechie-tab-menu div.list-group>a:hover .a-img10 {background-position:-10px -703px;}
div.bhoechie-tab-menu div.list-group>a.active .a-img10 {background-position:-10px -703px;}

div.bhoechie-tab-menu div.list-group>a .a-img11 {background-position:-10px -308px;}
div.bhoechie-tab-menu div.list-group>a:hover .a-img11 {background-position:-10px -264px;}
div.bhoechie-tab-menu div.list-group>a.active .a-img11 {background-position:-10px -264px;}

div.bhoechie-tab-menu div.list-group>a .a-img12 {background-position:-10px -660px;}
div.bhoechie-tab-menu div.list-group>a:hover .a-img12 {background-position:-10px -616px;}
div.bhoechie-tab-menu div.list-group>a.active .a-img12 {background-position:-10px -616px;}

div.bhoechie-tab-menu div.list-group>a .a-img13 {background-position:-10px -572px;}
div.bhoechie-tab-menu div.list-group>a:hover .a-img13 {background-position:-10px -528px;}
div.bhoechie-tab-menu div.list-group>a.active .a-img13 {background-position:-10px -528px;}

/*===========================product support left menu sprite css END=======================*/

div.bhoechie-tab-menu .list-group-item .glyphicon {margin-right:0px;}

div.bhoechie-tab-menu div.list-group>a:first-child{
  border-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #e04a4b; background-image:none; text-shadow:none; border-color:#CCC;
  color: #ffffff;
}
.bhoechie-tab {width:82%;}
.PR0 {padding-right:0;}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -6px;
  border-left: 0;
  border-bottom:7px solid transparent;
  border-top:7px solid transparent;
  border-left:9px solid #e04a4b;
}
div.list-group>a.hover {
  background-color: #e2e2e2;
  color: #ffffff;
}

.list-group-item.active:focus  {
  background-color: #e2e2e2; background-image:none;
  color: #ffffff;
}
.list-group-item.active  {
  background-color: #e2e2e2; background-image:none;
  color: #ffffff;
}
div.bhoechie-tab-menu a.list-group-item:hover, a.list-group-item:focus { background-color: #e2e2e2;
  color: #ffffff;}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.address{display:none;}  

/* =========================== country sim card css ==================================*/
.country-sim #accordiona .panel-heading { padding: 0;}
.country-sim #accordiona .panel  {box-shadow:none;}
.country-sim #accordiona .panel-title > .cm-title {background:#fff url(../img/blue-underline.png) repeat-x 12px; min-height:1px;   display:block;padding:0;  outline:none; font-weight:bold; text-decoration:none;}
.country-sim #accordiona .panel-title > .cm-title.accordion-toggle::after, #accordiona .cm-title[data-toggle="collapse"]::after  {
content:"\f077"; float:right; font-weight:200; font-size:14px; font-family:'FontAwesome';margin-right:0em; padding:5px 2px 3px 9px; background:#fff; 
cursor:pointer;}
.country-sim #accordiona .panel-title > .cm-title.accordion-toggle.collapsed::after, #accordiona .cm-title.collapsed[data-toggle="collapse"]::after  {
content:"\f078";}
.country-sim .panel-group .panel-heading+.panel-collapse .panel-body {border:0; padding:59px 46px 1px 46px;}
.country-sim .blaclBtn {background:#666666; border-radius:9px !important; color: #fff;font-size: 14px; font-weight:normal; line-height: normal;
display: inline-block; border-radius: 9px; padding: 7px 14px; font-family: 'gotham_bookregular';letter-spacing: 1px;} 
.country-sim .blaclBtn:hover {background:#df4a4a;}
.country-sim .datpicker{width:34%; float:left; margin-right:10px;}
.country-sim .remove-icon{width:25px; float:left; line-height:48px;}
.country-sim .leftForm label{width:35px; float:left; line-height:48px; font-size:18px; color:#3d3c3c;}
.country-sim .leftForm .form-control{width:90%; background-color:#f0ede6; border: 1px solid #e3ded4; box-shadow:none;

height:50px; transition:none; vertical-align: middle; font-size:13px; border-radius:8px;}
.country-sim .rightForm label{float:left; width:98px; line-height:48px;  font-size:18px; color:#3d3c3c;}
.country-sim .rightForm .form-control{background-color:#f0ede6; border: 1px solid #e3ded4; border-width:1px 0px 1px 1px; font-size:13px;
height:50px; transition:none; vertical-align: middle; box-shadow:none; padding: 6px 0 6px 10px; border-radius:8px 0px 0px 8px;}
.country-sim .rightForm .input-group-addon {background-color:#f0ede6; font-size:20px; border-color:#e3ded4;
padding:4px 10px !important; text-align:right; border-radius:0px 8px 8px 0px;}
.country-sim .redlBtn{padding: 15px 18px; font-size:16px; font-weight:600;}
.country-sim .form-control{background-color:#f0ede6; border: 1px solid #e3ded4; box-shadow:none; height:50px; transition:none; vertical-align: middle; 
font-size:13px; border-radius:8px;}
.country-sim .leftForm .input-full {width:93%;}
.country-sim .leftForm .input-full2 {width:93%; float:right;  margin-right:6px;}
.top-text {display:inline-block; float:left; margin:9px 66px 0px 0;}
.top-text .CV-text {padding-right:16px; padding-left:16px; font-size:14px; border-right:1px solid #939393;}
.top-text .CV-text:last-child {border-right:0;}
.enter-pin {float:right; display:inline-block; }
.enter-pin label {float:left; margin-top: 9px;}
.enter-pin .btn {margin:0; background:#666666; color:#fff; box-shadow:none; text-shadow:none; padding:6px 8px; letter-spacing:normal;}
.enter-pin .navbar-form {margin:0;}
.enter-pin .input-gray {background:#f0ede6; outline:0; box-shadow:none; border-color:#E7E7E7; height:auto; border-radius:4px;}
.enter-pin .form-control:focus {border-color:#E7E7E7;}
.country-sim .product-head .table > thead > tr > th {vertical-align:middle; font-size:12px;  color:#B9B8B8; padding:12px 9px; border-right: 1px solid #EDEAEA;}
.country-sim .searchGrid { margin-bottom:2px;}
.country-sim .re-table .redlBtn {padding: 7px 15px; font-size: 14px; font-weight: 500; margin-bottom:6px; }
.country-sim .re-table .table-bordered > tbody > tr > td 
.country-sim .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {border:1px solid #fff !important;}
.product-inner-acc {background:#e6e2db;  border:1px solid #fff; padding:13px; border-top:0;}
.product-inner-acc #accordion3 .panel-heading { padding: 0;}
.product-inner-acc #accordion3 .panel-title > a 
{display: block;padding:0;outline: none; font-size:12.6px; color:#939393; font-weight:300; text-decoration: none;}
.product-inner-acc #accordion3 .panel-title > a.accordion-toggle::before, #accordion3 a[data-toggle="collapse"]::before  {
content:"\f068"; float: left; font-weight:200;font-family:'FontAwesome';margin-right :9px; }
.product-inner-acc #accordion3 .panel-title > a.accordion-toggle.collapsed::before, #accordion3 a.collapsed[data-toggle="collapse"]::before  {
content:"\f067"; margin-right :9px;}
.product-inner-acc #accordion4 .panel-heading { padding: 0;}
.product-inner-acc #accordion4 .panel-title > a 
{display: block;padding:0;outline: none; font-size:13px; color:#939393; font-weight:300; text-decoration: none;}
.product-inner-acc #accordion4 .panel-title > a.accordion-toggle::before, #accordion4 a[data-toggle="collapse"]::before  {
content:"\f068"; float: left; font-weight:200; font-family:'FontAwesome';margin-right :9px;}
.product-inner-acc #accordion4 .panel-title > a.accordion-toggle.collapsed::before, #accordion4 a.collapsed[data-toggle="collapse"]::before  {
content:"\f067"; margin-right :9px;}
.category-box #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
content:"\f077"; float: right; font-weight:200; font-family:'FontAwesome';}
.category-box #accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
content:"\f078";}
.country-sim .remove-icon {width: 25px;float: left;line-height: 48px;}
.global-sim .datpicker { width: 32%;}
.global-sim .add-img {margin-left:36px;}
.global-table .table > tbody > tr > td {vertical-align:middle;}
.price-overline span {display:inline-block; position:relative;}
.price-overline span:after{content:""; position: absolute; width: 100%; bottom: 0; top:12px; left: 0; border-top:1px solid #f30;}
.product-inner-acc .panel-default>.panel-heading {background:none; background-image:none;}
.product-inner-acc .panel {background:none; box-shadow:none;}
.product-inner-acc .add-f {display:inline-block; margin-right:39px; font-size:11px;}
.product-inner-acc .add-f span {color:#000; margin-left:6px;}
.product-inner-acc .add-fR {float:right;}
.product-inner-acc .add-fR a {text-decoration:underline; font-size:12px;}
.product-inner-acc .panel-group .panel-heading+.panel-collapse .panel-body {border: 0;  padding:14px 0 6px 0;}
.marginT20 {margin-top:20px;}
.innJumper-text {position: absolute;top:19%; left: 7.7%; color:#fff;}
.innJumper-text h1 {color:#fff; font-size:42px; letter-spacing:1px;    font-weight: 300; margin-bottom:16px;     line-height:53px;}
.innJumper-text h2 {color:#fff; letter-spacing:1px;    font-weight: 300;     line-height: 36px;}

/* =========================== country sim card css END==================================*/



  
  .contact-inR {float:right;width:80%;}
  .contactimg-inl{float:left;width:20%}
  
/* media screen */

@media screen and (min-width:1186px){
.tabL-width {width:18%;}
.tabR-width {width:82%;}
.team-popup .carousel-inner {height:566px;}
.team-popup .caption {padding-right:56px;}
}

@media screen and (max-width:1185px){
.new_creto_menu ul li {border:0; margin:6px 4px 29px 4px; }
.new_creto_menu ul li a {background:#ccc; padding:12px 19px; }
.about_ProGridw .prodCol span.icons {margin-left:5px; float:left;}
.for_down{width:85%;}
}


@media screen and (min-width:850px) and (max-width:1186px){.leftsite_menu{ width: 23%; margin-left:15px;} .account_topleft{ width:71%;}
.account_topright{ width: 42%;} .amin_w{ width:100%;}.in_off h6{ padding-bottom:10px}
.find-input {width:26%; display:inline-block; padding:0 9px; }
.find-input-btn {width:19%; display:inline-block; padding:0 9px; }
.find-input-btn button {width:100%;}

.order-gray-bg {padding:4% 16%; margin-bottom:60px;}
.order-gray-padding {margin-bottom:20px;}	

.rom_adv .col-md-3 img {width:100%;}
}
@media screen and (min-width:768px) and (max-width:991px){
.about_icon {text-align:center; margin:auto; margin-bottom:16px; display:block;}
}
@media screen and (min-width:768px) and (max-width:849px){.leftsite_menu{ width: 28%;  margin-left:15px;} .account_topleft{ width:66%;}
.account_topright{ width: 56%; margin-top:6%; margin-bottom:4%;}.payment_table table{ width:100%;}.in_off h6{ padding-bottom:10px}
.find-input {width:49%; display:inline-block; padding:0 9px; }
.find-input-btn {width:49%; display:inline-block; padding:0 9px; }
.find-input-btn button {width:100%;}

.order-gray-bg {padding:4% 16%; margin-bottom:60px;}
.mid-width {width:100%;}
.order-mode-area {padding:12px;}	
.order-gray-padding {margin-bottom:20px;}
.marginL30 {margin-left:90px;}
.team-popup .media-object { width:249px; height:249px; }
.rom_adv .col-md-3 img {width:100%;}
}
@media screen and (max-width:991px){
.about_ProGridw .prodCol {float:none;}
}
@media screen and (max-width:850px){
.current_area ul li {width:100%; border:0; border-radius:0;}
.current_area ul li:nth-child(1){ border-bottom:0;border-top:0;border-left:0;
								  border-bottom-left-radius:0px;border-top-left-radius:0px;}
.current_area ul li:nth-child(2){ border-bottom:0px solid #CECECE; border-top:0px solid #CECECE; margin-left:0px;}
.current_area ul li:nth-child(3){ border-bottom:0px solid #CECECE; border-top:0px solid #CECECE; margin-left:0px;}
.current_area ul li:nth-child(4){ border-bottom:0px solid #CECECE;border-top:0px solid #CECECE;border-right:0px solid #CECECE;
								  border-bottom-right-radius:0px;border-top-right-radius:0px; margin-left:0px;}
.current_area ul li:nth-child(5){ text-align: left; padding-left: 8px;}
.current_area ul li button {text-align:center; margin:auto; display:block;}
.current_area ul {border:1px solid #CECECE; border-radius:9px; margin-bottom:26px; padding:16px ; }
.heading_t {display:none;}
}


@media screen and (min-width:850px) and (max-width:991px){
	.marginL30 {margin-left:96px;}
}

@media screen and (max-width:768px) {
.ProGridmadd {margin:0;}
.pa80ding {padding:0 15px;}
.ProGrBCit9d .prodCol {padding:0 15px; text-align:left;  float:left;}
.new5 {padding-left:15px;}
.contact_right ul li {width:32%;}

.right_qw22 h2 {background:#ddd; padding:12px 0; text-align:center;}
.left_q89w22 h2 {background:#ddd; padding:12px 0; text-align:center;}
.right_qw22 {padding:0; border:0;}
.left_q89w22 {padding:0;} 

}

@media only screen and (min-width:0px) and (max-width:767px){.leftsite_menu{ width:94%; float:none; margin:auto; padding:0;} 
.leftsite_menu ul li a:hover{ background-image:inherit; background-color:#EEEDE9; width:100%;}.active_w{ background-image:inherit; background-color:#E04A4B; width:100%;}.account_topleft{ width:100%; padding-left:0;}.account_topright{  width:90%; margin:5% 0;}.submit_a{ margin-bottom:6%;}
.in_off h6{ padding-bottom:10px;}
.find-input {width:49%; display:inline-block; padding:0 9px; }
.find-input-btn {width:49%; display:inline-block; padding:0 9px; }
.find-input-btn button {width:100%;}
.order-gray-bg {padding:4%; margin-bottom:60px;}
.order-gray-bg .submit_acontact {margin:auto; text-align:center; display:block;}	
.pay-top-menu  {width:100%;}
.pay-top-menu .mid-border {height:66px; width:1px; position:relative; top:0; margin:auto; margin-top:9px; margin-bottom:9px;}
.mob-center {text-align:center; border-top:1px solid #F0EDED; padding-top:19px;}
.welcome-round {margin-top:16px; margin-bottom:26px;}
.wR-box {margin-bottom:36px;}
.account-contact .contact_write {padding:9px 12px; width:100%; margin-bottom:3%;}
.account-contact .contact_right  {padding:9px 12px; width:100%;  margin-bottom:3%;}
.marginL30 {margin-left:0;}
.data-contect {text-align:center;}
.data-contect p {text-align:center;}
.accL0 {padding-left:15px;}
.faq-acc h5 {background:#F7F4EF; padding:9px 22px; color:#333;}
.welcome-content {margin-bottom:1px;}

.order-gray-bg0 { margin-left:0px!important; width:100%;}
.order-gray-bg0 { padding:15px 2px;}
.order-gray-bg0 .fieldlist label {padding:10px 1px;}
.order-style { padding:15px;}
.order-style .submit_acontact {margin-top:16px;}	

.about_icon {text-align:center; margin:auto; margin-bottom:16px; display:block;}
.rom_adv .col-md-3 img {text-align:center; margin:auto; display:block;}
.rom_adv .col-md-3 h3 {text-align:center; margin-top:19px;}

.contact_right ul li {width:100%; margin-bottom:26px;}
.contact_write {width:100% !important;}
.contact_right {width:100% !important; padding-left:15px !important; border-top:1px solid #ddd !important; padding-top:20px;}
.contact-inR {float:none;width:100%;}
.contactimg-inl{float:none;width:100%; margin-top:12px;}
.contact_right li:last-child {width:100%;}
.select_wwq1 select {margin:auto; margin-top:12px;}
.account_topleft table {width:100% !important;}

.right_qw22 {border:0; padding:0;}
.offer_main08h img {height:auto;}
.offer_main08h p {width:100%;}
.offer_main08h_footer .date50 {margin:auto; display:block; float:none; text-align:center; margin-bottom:12px;}
.offer_main08h_footer button {display:block; margin:auto; text-align:center; float:none;}
.left_q89w22 {padding:0; margin-top:12px; border-top:1px solid #ddd; padding-top:19px;}

.offer_fot input {width:100%;}
}
@media only screen and (max-width:736px) and (orientation:landscape) {
.ProGrit7d .prodCol {width:32.333%; padding:0 9px;}
.ProGrit9d .prodCol {margin:auto;}
.ProGrBCit9d .prodCol  { padding-left:19px; padding-right:19px;}
.ProGrBCit9d .prodCol span.icons {width:190px; height:190px; }	
}
@media only screen and (max-width:667px) and (orientation:landscape) {
.ProGrBCit9d .prodCol  { padding-left:8px; padding-right:8px;}
.ProGrit7d .prodCol {padding:0 19px;}	
}
@media only screen and (min-width:500px) and (max-width:767px){.contact_write{ width:83%; padding:0; margin-bottom:10%;}.contact_right{ padding-left:0; width:87%;
border:none; margin-bottom:10%;}.contact_right h2{ margin-bottom:0px;}}
@media only screen and (min-width:0px) and (max-width:499px){.account_topright{ width:100%;}.new_select01new{ width:100%; border:0;}.new_select01new2{ width:100%; margin-bottom:4%;}.new_select01new{ min-height:auto;} .document_box{ width:100%;}.up_document{ width:100%;}.document_sec{ width:100%;}.submit_a{ margin-bottom:6%;}.payment_table table{ width:100%;}.contact_write{ width:100%; padding:0; margin-bottom:20%;}.contact_right{ padding-left:0; width:100%;
border:none; margin-bottom:10%;}.contact_right h2{ margin-bottom:0px;}.contact_pad{0px 6%;}.contact_right ul li img{ width:44px;}
.contact_right ul li:last-child img{ width:32px !important;} .contact_right ul li span h2{ font-size:12px;}.contact_right ul li span h2{ line-height:28px;}
.find-input {width:100%; display:inline-block; padding:0 9px; }
.find-input-btn {width:100%; display:inline-block; padding:0 9px; }
}

@media only screen and (min-width:0px) and (max-width: 460px) {
.team-popup .media-object { width:159px; height:159px; }	
	
}
@media only screen and (min-width:0px) and (max-width:240px) {
.navbar-toggle { margin-top:19px !important; margin-right:6px;}
.navbar-brand.navbar-brand {padding:19px 9px !important; margin-right:12px !important;}
.SubmenuGrid ul li a {font-size:9px;}
.SubmenuGrid ul li {padding:0 3px 0;}
.SubmenuGrid .callus {font-size:7px;}
.callnumber {font-size:8px;}
.ProGrBCit9d .prodCol span.icons strong {font-size:22px;}
.ProGrBCit9d .prodCol span.icons {width:149px; height:149px; font-size:14px; display:block; text-align:center; padding-top:46px;}
.ProGrit9d .prodCol {margin:auto;}
}
@media only screen and (min-width:0px) and (max-width:529px) {
.inputR-img {position:relative; margin-top:2px; right: 0;float: none; clear:both; display:block;}
.padding-input {padding-right:25px;}
.payment-img img {margin:9px 20px; text-align:center; }	
.custom-check {height:59px;}
.save-card-bg span {display:block;}
.save-card-bg a {float:none; margin:auto; text-align:center; margin-top:12px; margin-bottom:12px;}
.spanR {float:none;}
}
@media only screen and (min-width:0px) and (max-width:600px) {
.homepage.ql-popupDiv {width:100%; z-index:99; top:9%; left:0; right:0; padding:12px 20px;}
.homepage.ql-popupDiv .helpbuyTab {padding:0;}
.homepage.ql-popupDiv h1 {font-size:26px; margin-bottom:19px;}
.ql-popupDiv .helpbuyTab .nav-tabs > li {width:100%;}
.ql-popupDiv .helpbuyTab .nav > li > a { padding: 10px 15px 10px 0; font-size:15px;}
.ql-popupDiv .helpbuyTab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { padding: 10px 15px 10px 0;}
.homepage.ql-popupDiv .helpbuyTab .nav-tabs {margin-bottom:12px;}
.hmp-option {margin-bottom:6px; margin-top:12px;}
.homepage.ql-popupDiv .marginT50 {margin-top:0;}
.quickLink-tab .redlBtn {margin-top:0;}
.quickLink-tab .leftForm .form-control {height:39px; width:96%;}
.quickLink-tab .rightForm .form-control {height:39px;}
.quickLink-tab .rightForm label {font-size:14px; width:85px; margin-bottom:0; clear:both;   line-height: 22px;}
.quickLink-tab .leftForm label {font-size:14px; margin-bottom:0; clear:both;   line-height: 22px;}
.quickLink-tab .datpicker {width:96%; margin-bottom:6px;}
.quickLink-tab #MultiCountry .datpicker {margin-right:4px; width:84%; margin-bottom:6px;} 
.quickLink-tab .redlBtn {padding:9px 16px; font-size:12px; margin-bottom:12px;}

.homepage.quickPayment.ql-popupDiv .helpbuyTab .nav-tabs {margin-top:0;}
.quickLink-tab .form-control { margin-bottom:6px; }
.quickLink-tab .marginTB50 {margin-bottom: 16px; margin-top: 12px;}
.quickLink-tab .recharge-options {width:96%;}
.recharge-options ul li {padding:2px 0 2px 16px; width:100%; font-size:11px;}



.navbar-brand.navbar-brand {padding:12px 15px;}
.navbar-toggle {margin-top:16px !important;}

.ProGrBCit9d .prodCol span.icons {margin:auto;}
.ProGrBCit9d .prodCol {padding:0 15px !important; min-height: 156px !important; float:none; text-align:center;}
.ProGrBCit9d {width:100% ;}
.register-area { width:100%; margin:auto; padding:0 15px;}
.ProGrit7d .prodCol {padding:0;}
.ProGrit7d .prodCol {display:block;}
.up_main input, select {width:100%;}
.homepage.quickLink_tab img {height:99px; width:auto;} 
.homepage.quickLink_tab {top:25%;}
	
}

@media only screen and (min-width:601px) and (max-width:767px) {
.homepage.ql-popupDiv {top:10.6%; left:2px; right:0; padding:12px 20px;}	
.homepage.ql-popupDiv .helpbuyTab {padding:0;}
.homepage.ql-popupDiv h1 {font-size:26px; margin-bottom:19px;}
.ql-popupDiv .helpbuyTab .nav-tabs > li {width:49%;}
.ql-popupDiv .helpbuyTab .nav > li > a { padding: 10px 15px 10px 0; font-size:15px;}
.ql-popupDiv .helpbuyTab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { padding: 10px 15px 10px 0;}
.homepage.ql-popupDiv .helpbuyTab .nav-tabs {margin-bottom:12px;}
.hmp-option {margin-bottom:6px; margin-top:12px;}
.homepage.ql-popupDiv .marginT50 {margin-top:0;}
.quickLink-tab .redlBtn {margin-top:0;}
.quickLink-tab .leftForm .form-control {height:39px; width:83%;}
.quickLink-tab .rightForm .form-control {height:39px;}
.homepage.quickLinkGrid {top:10.6%; width:14.4%;}
.homepage.quickLinkGrid .quickLinkBtn li {padding:19px 0;}



.homepage.quickLink_tab {top:18%;}
.navbar-brand.navbar-brand {padding:12px 15px;}
.navbar-toggle {margin-top:16px !important;}	
}


@media only screen and (min-width:992px) and (max-width:1024px) {
.homepage.ql-popupDiv {z-index:99; top:24%; left:6px; right:0; padding:12px 20px;}
.homepage.quickLink_tab {top:43%;}
.homepage.ql-popupDiv .helpbuyTab {max-height:287px;     padding: 0 26px;}
.quickLink-tab .redlBtn {margin-bottom:39px;}
.quickLink-tab .marginT50 {margin-top:12px;}
.homepage.quickLinkGrid {top:24%;}
.homepage.quickLinkGrid .quickLinkBtn li { padding:33px 0;}
.homepage.quickPayment.ql-popupDiv .helpbuyTab .nav-tabs {margin-top:0;}
.quickLink-tab .datpicker {width:29%;}
}

@media only screen and (min-width:768px) and (max-width:991px) {
.homepage.ql-popupDiv {z-index:99; top:16%; left:6px; right:0; padding:12px 20px;}
.homepage.ql-popupDiv .helpbuyTab {padding:0;}
.homepage.ql-popupDiv h1 {font-size:26px; margin-bottom:19px;}
.ql-popupDiv .helpbuyTab .nav-tabs > li {width:49%;}
.ql-popupDiv .helpbuyTab .nav > li > a { padding: 10px 15px 10px 0; font-size:15px;}
.ql-popupDiv .helpbuyTab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { padding: 10px 15px 10px 0;}
.homepage.ql-popupDiv .helpbuyTab .nav-tabs {margin-bottom:12px;}
.hmp-option {margin-bottom:6px; margin-top:12px;}
.homepage.ql-popupDiv .marginT50 {margin-top:0;}
.quickLink-tab .redlBtn {margin-top:0;}
.quickLink-tab .leftForm .form-control {height:39px; width:96%;}
.quickLink-tab .rightForm .form-control {height:39px;}
.quickLink-tab .rightForm label {font-size:14px; width:85px; margin-bottom:0; clear:both;   line-height: 22px;}
.quickLink-tab .leftForm label {font-size:14px; margin-bottom:0; clear:both;   line-height: 22px;}
.quickLink-tab .datpicker {width:96%; margin-bottom:6px;}
.quickLink-tab #MultiCountry .datpicker {margin-right:4px; width:84%; margin-bottom:6px;} 
.quickLink-tab .redlBtn {padding:9px 16px; font-size:12px; margin-bottom:12px;}
.homepage.ql-popupDiv .helpbuyTab {max-height:226px;}
.homepage.quickLinkGrid {top: 15.6%;}
.homepage.quickLinkGrid .quickLinkBtn li {padding:16px 0;}
.homepage.quickPayment.ql-popupDiv .helpbuyTab .nav-tabs {margin-top:0;}
.recharge-options ul li {width:100%;}
.homepage.quickLink_tab {top: 24%;}
	
}
@media only screen and (max-width:736px) and (orientation:landscape) {
.homepage.quickLink_tab img {height:109px; width:auto;} 
.homepage.quickLink_tab {top:52%;}
.homepage.ql-popupDiv {top:31%; z-index:999;}
.homepage.ql-popupDiv .helpbuyTab {max-height:165px;}
.homepage.quickLinkGrid {z-index:999; top:31%;}
.quickLinkGrid .quickLinkBtn li span.icons {width:60px; height:60px; line-height:66px;}
.quickLinkGrid .quickLinkBtn li h3 {font-size:11px;}
.quickLink-tab .form-control {height:39px; margin-bottom:4px; width:98%;}
.recharge-options ul li {width:100%;}
.quickLink-tab .leftForm .form-control {width:98%;}
.homepage.quickPayment.ql-popupDiv .helpbuyTab .nav-tabs {margin-top:0;}
}
@media only screen and (max-width:667px) and (orientation:landscape) {
.homepage.quickLink_tab img {height:109px; width:auto;} 
.homepage.quickLink_tab {top:52%;}
.homepage.ql-popupDiv {top:0; z-index:999;}
.homepage.ql-popupDiv .helpbuyTab {max-height:237px;}
.homepage.quickLinkGrid {z-index:999; top:18%;}
.quickLinkGrid .quickLinkBtn li span.icons {width:60px; height:60px; line-height:66px;}
.quickLinkGrid .quickLinkBtn li h3 {font-size:11px;}
.quickLink-tab .form-control {height:39px; margin-bottom:4px; width:98%;}
.recharge-options ul li {width:100%;}
.quickLink-tab .leftForm .form-control {width:98%;}
.homepage.quickPayment.ql-popupDiv .helpbuyTab .nav-tabs {margin-top:0;}
}
@media only screen and (max-width:600px) and (orientation:landscape) {
.homepage.ql-popupDiv {top:0;}
.homepage.ql-popupDiv .helpbuyTab {max-height:291px;}
}
@media only screen and (max-width:568px) and (orientation:landscape) {
.homepage.quickLink_tab {top:52%;}
.homepage.ql-popupDiv {top:0;}
.homepage.ql-popupDiv .helpbuyTab {max-height:183px;}
}

@media only screen and (min-width:0px) and (max-width:414px) {
.homepage.quickLink_tab { top:22%;}
.homepage.ql-popupDiv {top:6%;}	
}
@media only screen and (min-width:0px) and (max-width:375px) {
.homepage.quickLink_tab { top:22%;}
.homepage.ql-popupDiv {top:7%;}	
}
@media only screen and (min-width:0px) and (max-width:320px) {
.homepage.quickLink_tab img {height:90px; width:auto;} 
.homepage.quickLink_tab {top:25%;}
.homepage.ql-popupDiv {top:0%; left:0;}
.homepage.ql-popupDiv .helpbuyTab {min-height:auto !important;}
}

/*k18*/

.ql-popupDiv.pop-shop{ z-index:10;}


#alert-success {
        position: absolute;
        z-index: 6001;
        top: 0;
        left: 0;
        right: 0;
        background-color:#dff0d8;
		color:#468847;
		border-color:#d6e9c6;
		padding:15px 0;
    	font-size: 16px;
        text-align: center;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
}
.cssanimations.csstransforms #alert-success {
	-webkit-transform: translateY(-80px);
	-webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
	-moz-transform:    translateY(-80px);
	-moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}	

#alert-error {
		padding:15px;
		margin-bottom:20px;
		border:1px solid transparent;
		border-radius:4px;
        position: absolute;
        z-index: 6001;
        top: 0;
        left: 0;
        right: 0;
        background-color:#f2dede;
		color:#b94a48;
		border-color:#eed3d7
		padding:15px 0;
    	font-size: 16px;
        text-align: center;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
}
.cssanimations.csstransforms #alert-error {
	-webkit-transform: translateY(-80px);
	-webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
	-moz-transform:    translateY(-80px);
	-moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}	

@-webkit-keyframes slideDown {
	0%, 100% { -webkit-transform: translateY(-50px); }
	10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
	0%, 100% { -moz-transform: translateY(-50px); }
	10%, 90% { -moz-transform: translateY(0px); }
}
