@charset "utf-8";
/* CSS Document */

body{margin:0;background:#f7f4ef;}

article{text-align:center; padding:15% 0;}
h4, h2, h5{ margin:0 auto;}
h4{color: #333;font-size:65px !important;}
h2{color: #df4a4a;font-size:150px !important; text-shadow:2px 2px 3px #666;}
h5{color: #333;font-size:40px !important;}

