﻿@charset "utf-8";
/* CSS Document */

@import url(owl.carousel.css);
@import url(owl.theme.css);

@font-face {
    font-family: 'gotham_htfmedium';
    src: url('../fonts/gothamhtf-medium.eot');
    src: url('../fonts/gothamhtf-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-medium.woff2') format('woff2'),
         url('../fonts/gothamhtf-medium.woff') format('woff'),
         url('../fonts/gothamhtf-medium.ttf') format('truetype'),
         url('../fonts/gothamhtf-medium.svg#gotham_htfmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_htf_bookregular';
    src: url('../fonts/gothamhtf-book-webfont.eot');
    src: url('../fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-book-webfont.woff') format('woff'),
         url('../fonts/gothamhtf-book-webfont.ttf') format('truetype'),
         url('../fonts/gothamhtf-book-webfont.svg#gotham_htf_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




body{
  font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif; 
  font-size:14px; color:#939393; font-weight:300; line-height:normal; 
  padding:0px; margin:0px; text-decoration:none; height:100%; position:relative;  
  }


/* Bootstrap Override Css */
p {margin: 0 0 20px; line-height:20px;}
hr{border-color:#eaeaea; border-style: solid; margin:25px 0;}
a {color:#505050; text-decoration:none;}
a:hover{color:#df4a4a; text-decoration:none;}

a:focus{text-decoration:none; outline:none; border:0px;}

a {
-webkit-transition: ease-out 0.3s; -moz-transition: ease-out 0.3s;
-o-transition: ease-out 0.3s; transition: ease-out 0.3s;
}
a:hover {
-webkit-transition: ease-out 0s; -moz-transition: ease-out 0s;
-o-transition: ease-out 0s; transition: ease-out 0s;
}

label{font-weight:normal;}

.margin_bootm80{margin-bottom:80px;}
.margin_bootm40{margin-bottom:30px;}

.img-thumbnail{border-radius:0px; border:0px; background:inherit; box-shadow:inherit; padding:0px; width:100%; 
/*filter: gray;  -webkit-filter: grayscale(100%);*/}
  
.bootstrap-tagsinput{margin-bottom:0px;}

.label-info {background-color: #b32017;}
.label{font-size:18px; font-weight:normal;}
.bootstrap-tagsinput .tag{ margin:2px; display:inline-block;}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none; outline-offset:0px
	outline:0px auto -webkit-focus-ring-color;	
	}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'gotham_htf_bookregular', serif; font-weight:normal;
	padding:0px; margin:0px; color:#505050;
}

h2{margin:0 0 20px; font-size:30px;} 
h3{margin:0 0 25px; font-size:18px; font-weight:bold;}
/*h4{margin:0 0 25px; font-size:18px; font-weight:bold; color:#716e6e;}*/
h5{margin:0 0 15px; font-size:14px; font-weight:bold; color:#3d3c3c;}
h6{margin:0 0 15px; font-size:11px; font-weight:bold; color:#3d3c3c;}

.form-control::-moz-placeholder{color:#000;}

.modal.in .modal-dialog{transform:inherit;}
.modal.fade .modal-dialog{transform:inherit; transition:inherit;}

.color1{background:#9CF;}
.color2{background:#C9F;}
.color3{background:#9FC;}
.color4{background:#F9C;}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th{
	border: 1px solid #5f5d5b;
}

.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border: 1px solid #e0ded9;
}

/*--- End Column ---*/
.full-width{padding:0px; margin:0px; width:100%; height:auto; position:relative;}
.topBorder{border-top:1px solid #ededed;}

.greyBG{background-color:#f7f4ee;}
.pinkBG{background-color:#f5e3dd;}

.uderlineLink{text-decoration:underline;}
.uderlineLink:hover{text-decoration:none;}


.blaclBtn{
	background:#666666; color:#fff; font-size:14px; line-height:normal;
	display:inline-block; border-radius:9px; padding:7px 14px;
	font-family: 'gotham_bookregular'; letter-spacing:1px;
	}
.blaclBtn:hover{background:#df4a4a; color:#fff;}

.redlBtn{
	background:#df4a4a; color:#fff; font-size:14px; line-height:normal;
	display:inline-block; border-radius:8px; padding:6px 22px 7px;
	font-family: 'gotham_bookregular'; letter-spacing:1px
	}
.redlBtn:hover{background:#666666; color:#fff;}

input[type="submit"].redlBtn{
	background:#df4a4a; color:#fff; font-size:14px; line-height:normal;
	display:inline-block; border-radius:0; padding:6px 22px 7px;
	font-family: 'gotham_bookregular'; letter-spacing:1px;border-radius:8px; border: 1px solid transparent;
	}
input[type="submit"].redlBtn:hover{background:#666666; color:#fff;}
/*img.grayscale{
	filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter:gray;-webkit-filter:grayscale(100%);-webkit-transition:all .6s ease;-webkit-backface-visibility:hidden;
	}
img.grayscale:hover{filter:none;-webkit-filter:grayscale(0%);}*/
	
.CallusGrid{
	background-color:#de504f; padding:15px 0; height:50px; position:relative; color:#fff; 
	font-size:18px; margin-bottom:0px; display: none; border-bottom:2px solid #fff; border-radius:0px;
	}
.CallusGrid span{font-size:15px; color:#f7aaaa;}
.CallusGrid a{color:#fff;}
.CallusGrid a:hover{color:#f7aaaa !important;}

.SubmenuGrid{
	background-color:#f7f4ef; padding:15px 0;
	position:relative; font-size:11px;
	}
.SubmenuGrid ul{padding:0px; margin:0px; list-style:none;}
.SubmenuGrid ul li{padding:0 20px 0; margin:0px; float:left; border-right:1px solid #a3a3a3;}
.SubmenuGrid ul li a{color:#a3a3a3;}
.SubmenuGrid ul li a:hover, .SubmenuGrid ul li a:focus{color:#505050 !important;}
.SubmenuGrid ul li:first-child{padding-left:0;}
.SubmenuGrid ul li:last-child{padding-right:0; border-right:0px;}

.SubmenuGrid .callus{display:inline-block; position:relative;color:#4f4f4f;}
.SubmenuGrid .callus:hover{color:#df4a4a;}
.SubmenuGrid .callus img{width:17px; height:9px; position:absolute; left:50%; top:-23px; margin-left:-8px;}

.ProGrid{margin-bottom:50px; margin-top:10px;}
.ProGrid h2{margin-bottom:60px; font-size:30px;}
.product-sup h2{margin-bottom:29px;}
.ProGrid .prodCol{text-align:center; margin:0px; padding:0 35px; position:relative;}
.ProGrid .prodCol a{color:#939393; display:block;}
.ProGrid .prodCol a:hover span.icons{background-color:#df4a4a;}
.ProGrid .prodCol h3{font-family: 'gotham_htfmedium'; font-weight:400; margin:20px 0; font-size:18px;}
.ProGrid .prodCol p {font-size:13px;}
.ProGrid .prodCol h3 span{color:#c9c6c2;}
.ProGrid .prodCol span.icons{
	background-color:#3d3c3c; border-radius:100%; display:inline-block;
	width:95px; height:95px; line-height:95px; text-align:center;
}

.ProinfoGrid{padding:0px; margin:0px -1% 50px; list-style:none; overflow:hidden;}
.ProinfoGrid li{padding:0px; margin:0px 1%; position:relative; float:left; width:48%;}
.ProinfoGrid li h2{margin:20px 0; font-size:30px;}
.ProinfoGrid li .details{
	background-color: rgba(0, 0, 0, 0.4); left:0; bottom:0; position:absolute; width:100%;
	color:#fff; font-size:18px; text-align:center; font-family: 'gotham_htf_bookregular', serif;
	height:80px; line-height:80px; z-index:1;
}
.ProinfoGrid li .gridLink{display:block; position:relative;}
.ProinfoGrid li .coverDiv{position:absolute; width:100%; height:100%; background-color: rgba(0, 0, 0, 0); z-index:1;}
.ProinfoGrid li .gridLink:hover .coverDiv{ background-color: rgba(0, 0, 0, 0.7);}
.ProinfoGrid li .gridLink:hover span.icons{ opacity:1;}
.ProinfoGrid li .coverDiv span.icons{
	background-color:#df4a4a; border-radius:100%; display:block; opacity:0;
	width:94px; height:94px; line-height:95px; text-align:center; position:absolute;
	left:50%; top:40%; margin-left:-47px; margin-top:-47px; z-index:10;
}



.redText48{color:#df4a4a; font-size:48px;}
.redText{color:#df4a4a;}

.SocialInfo{
	padding:50px 70px; position:relative; text-align:center; color:#939393;
	height:350px; overflow:hidden; font-size:12px; display:block;
	}
.SocialInfo:hover{background:#f5e3dd; color:#939393;}
.SocialInfo span.icons{
	background-color:#3d3c3c; border-radius:100%; display:inline-block;
	width:95px; height:95px; line-height:95px; text-align:center;
}
.SocialInfo:hover span.icons{/*background-color:#df4a4a;*/}
.SocialInfo strong{font-size:14px;}
.SocialInfo h4{margin:20px 0; font-size:18px; color:#716e6e; font-weight:400; font-family: 'gotham_htfmedium';}
.SocialInfo p {font-size:13px; font-weight:normal; margin-bottom:6px;}

.rightNav{padding:0px; margin:0px; list-style:none; float:right; position:relative;}
.rightNav li{padding:0px; margin:0px 0px 0px -3px; display:inline-block; font-size:11px;}
.rightNav li a{padding:50px 20px 40px; display:block; margin:0px; cursor:pointer; background:url(../images/nav-devider.png) right 52px no-repeat;color:#a3a3a3;}
.rightNav li a:hover{color:#df4a4a;}
.rightNav li:last-child a{padding-right:0px; background:inherit;}
.rightNav li:hover ul{display:block;}

.loginForm{padding:15px 10px 10px; font-size:10px;}
.loginForm h3{font-size:14px; margin-bottom:15px; color:#98989a; font-weight:400;}
.loginForm .form-group {margin-bottom: 10px;}
.loginForm .form-control::-moz-placeholder {color: #fff;}
.loginForm .form-control {
    background-color: #ccc; border:0px; border-radius:0px; padding:4px 10px; transition:none;
    box-shadow:none;  color:#fff; font-size: 11px; height:24px; line-height:normal;	   
}
.loginForm .form-group .help-block{line-height:normal; margin:5px 0;}
.loginForm .SignupLink{font-size:11px; padding:0px; color:#666666; text-decoration:underline; display:block;}
.loginForm .SignupLink:hover{text-decoration:none; background:transparent; color:#df4a4a;}

.rightNav ul{
	float:none; padding:10px 0; margin:0; position:absolute; right:0; top:100%; 
	min-width:175px; background:#f7f4ee; display:none; z-index:9999; border-radius:4px;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(122,122,122,1);
	-moz-box-shadow: 0px 10px 10px 0px rgba(122,122,122,1);
	box-shadow: 0px 10px 10px 0px rgba(122,122,122,1);
	}
.rightNav ul .arrow{position:absolute; left:65%; top:-9px; z-index:99;}
.rightNav ul li{padding:0; margin:0px; display:block; border-right:0px;}
.rightNav ul li a{padding:8px 20px; display:block; color:#b5b4b4; transition:none;}
.rightNav ul li a:hover{background-color:#df4a4a; color:#fff;}

.rightEC{padding:0px; /*margin:0 20px 0 0;*/ list-style:none; float:left; position:relative;}
.rightEC li{
	padding:42px 30px 0px; margin:0px 0px 0px -3px; display:inline-block; font-size:11px;
	background:url(../images/nav-devider.png) left 52px no-repeat;
	}
.rightEC li:first-child{padding-left:0px; background:inherit;}

.subNav{padding:0px; margin:0px; list-style:none; position:relative;}
.subNav li{padding:10px 0; margin:0px; float:left; font-size:10px; font-family:"Myriad Pro"; font-weight:400; letter-spacing:1px;}
.subNav li a{padding:0px 10px; display:block; margin:0px; cursor:pointer; color:#9a9a9a; border-right:1px solid #9a9a9a;}
.subNav li a:hover{color:#dad6ce;}
.subNav li.active a{color:#dad6ce;}
.subNav li:last-child a{padding-right:0px; border-right:inherit;}
.subNav li:first-child a{padding-left:0px;}

.innerHero {height:100%; overflow:hidden; width:100%; position:relative; margin-bottom:40px;}
img.dddemo {height: auto;  max-width:2000px; width:auto;/* min-height: 100%;*/ min-width: 100%;}
.innJumper {
    background: rgba(0, 0, 0, 0.6); right:86px; bottom:20px; display:block;
    height: auto; margin:0; padding: 20px; color:#FFF; font-size:27px; font-weight:300;
    position: absolute; min-width:350px; z-index: 1; /*font-family: 'gotham_htfmedium';*/
}

.productCol{padding:0 0 30px; margin:0px; position:relative; overflow:hidden;}

.leftGrid{width:16%; padding:0px; margin:0px; overflow:hidden; float:left;}
.rightGrid{width:82%; padding:0px; margin:0px; overflow: visible; float:right;}

/*--- Product Page Left Pannel Dropdown Css ---*/
.productCol .leftGrid .category-box.deep_bg .panel-collapse{background:#f7f4ef;}
.productCol .leftGrid .category-box.deep_bg{min-height: 656px; background:#e6e2db;}
.category-box .catHeader{color:#fbf9f8; font-weight:700; text-align:center; padding:20px 10px; background:#3d3c3c;}
.category-box .panel-group .panel{border-radius:0px;}
.category-box .panel-heading {
	padding:0; border-bottom:0px; border-top-right-radius:0px; border-top-left-radius:0px; 
	text-align:center; background:#e6e2db; padding:15px 10px; font-size:12px;
	}
.category-box .panel-heading a{font-weight:400; font-size:12.6px; color:#928f87; font-family: 'gotham_htfmedium';}
.category-box .panel-heading .fa{float:right; margin-top:2px;}
.category-box .panel-default > .panel-heading {background-image: inherit; background-repeat: repeat-x; background-color:#e6e2db;}
.category-box .panel-group .panel-heading+.panel-collapse .panel-body {border-top:0;}
.category-box .panel-group .panel + .panel{margin-top:2px;}
.category-box .panel-group .panel{border-bottom:2px solid #f7f4ef;}
.category-box .panel {box-shadow:inherit; border:0px; background-color:inherit; margin:0px;}
.category-box .panel-body {padding:0px;}
.category-box .panel-body .checkbox{margin:0 0 5px;}
.category-box .accordion-toggle:focus{text-decoration:none;}

/*--- Product Page Left Pannel Checkbox Css ---*/
.category-box .panel-body ul{padding:0px; margin:0px; list-style:none;}
.category-box .panel-body ul li{border-bottom:1px solid #d1d0ce; font-size:12.6px;}
.category-box .panel-body ul li:last-child{border-bottom:0px;}
.category-box .panel-body ul li .custom-checkbox{ position: relative; padding:8px 10px;}
.category-box .panel-body ul li .custom-checkbox  input[type="checkbox"]{position:absolute; left:13px; top:11px; margin:0; z-index:0;}
.category-box .panel-body ul li .custom-checkbox label{
	display: block; position: relative; z-index: 1; padding:3px 0 0 30px;
	cursor: pointer; color:#918f8f;
	}
.custom-checkbox label { background: url(../images/checkbox.png) 0px 0px no-repeat; height:20px; margin-bottom:0px;}
.custom-checkbox label.checked{background-position: 0px -20px;}

/*-----------------*/

.ModifySearch{overflow:visible; margin-bottom:29px;}
.ModifySearch .SortCol{display:inline-block; float:right;}
.ModifySearch .SortCol label{width:70px; float:left; padding-top:8px;}
.ModifySearch .SortCol .form-control {
    background-color: #f1f1f1; width:170px; float:left; border:0px; box-shadow:none;
    border-radius:0px; color: #9a9a9a; height: 34px; padding:5px 10px;
}
.ModifySearch .CV-text{font-size:13px; padding-left:20px; display:inline-block;}
.ModifySearch .CV-text span{color:#000;}
.ModifySearch .blaclBtn{font-weight:300;}
.searchGrid .redlBtn{font-weight:300;}
.usa_top{ width:100%; background:#3d3c3c; padding:18px 0; font-weight:bold; text-align:center; color:#fff; font-family: 'gotham_bookregular'; font-size:11px;}

.searchGrid{margin-bottom:15px;}
.searchGrid .table{margin-bottom:0px;}
.searchGrid .table-bordered{border:0px;}	
.table > thead > tr > th{background:#3d3c3c; color:#BCB8B8; padding: 4px 8px; font-size:12px; font-weight:normal; vertical-align:top; text-align:center;}
.searchGrid .redBG{color:#fff !important; line-height:16px; background:#df4a4a !important; font-size:11px !important; text-align:left !important; border:1px solid #df4a4a;}
.searchGrid .greyBG1{color:#3d3c3c !important; background:#e6e2db !important; font-size:11px !important; text-align:left !important; border:1px solid #e6e2db;}

.searchGrid .price{font-size:18px; color:#3d3c3c; display:block; padding-bottom:5px;}

.searchGrid .table > tbody > tr > td{font-size:11px; font-weight:normal; vertical-align:top; text-align:center; background:#f7f4ee;}

.searchGrid .checkbox{display: inline-block;}
.searchGrid .checkbox input[type="checkbox"]{margin-top: 1px; margin-left: -18px;}

.searchGrid .callInfo{padding:0px; margin:0px; list-style:none;}
.searchGrid .callInfo li{padding:0px 10px; margin:0 0 0 -3px; display:inline-block; border-right:1px solid #a8a6a1;}
.searchGrid .callInfo li:last-child{padding-right:0px; border-right:0px;}

.right-right{float:right;}
.hide-desk{display:none;}

.linkText{text-decoration:underline; color:#a6a4a2;}
.TC-link{text-decoration:underline; color:#a6a4a2; font-size:10px; font-family:Arial, Helvetica, sans-serif;}

/*--- Accordion ---*/	
.prodDetailGrid .panel-grid{position:relative; background:#f7f4ee;}
.prodDetailGrid .panel-grid .panel-title{
	background:url(../images/arrow.png) right top no-repeat; 
	width:20px; height:20px; display:inline-block; position:absolute;
	right:0px; top:-20px; cursor:pointer; z-index:999;
	}
.prodDetailGrid .panel-grid .panel-title-active{
	background:url(../images/arrow-hov.png) right top no-repeat; 
	width:20px; height:20px; display:inline-block; position:absolute;
	right:0px; top:0px; cursor:pointer; z-index:999;
	} 
.prodDetailGrid .panel-grid .panel-detail{overflow:hidden; padding:0px 0px 0 15px; background:#f7f4ee;}
.prodDetailGrid .panel-grid .panel-detail .table tbody > tr > td{border-top:0px; text-align:left;}
.prodDetailGrid .panel-grid .panel-detail .table tbody > tr > td span{color:#000;}

/*---------------------*/

/*--- Index Quick Link More Options Accordion ---*/
.hmp-option{margin-top:30px; position:relative;}	
.hmp-option .panel-grid{position:relative;}
.hmp-option .parentDiv{background:#fff url(../images/grey-borderBG.png) 0 0 repeat-x; padding-bottom:5px;}
.hmp-option .panel-grid .panel-title{
	background:#fff url(../images/plus-icon.gif) 0 2px no-repeat;
	cursor:pointer; padding:0 5px 0 20px; height:20px; width:100%; font-size:14px;
	}
.hmp-option .panel-grid .panel-title-active{
	background:#fff url(../images/minus-icon.gif) 0 2px no-repeat; 
	cursor:pointer; padding:0 5px 0 20px; height:20px; width:100%; font-size:12px;
	} 
.hmp-option .panel-grid .panel-detail{overflow:hidden; padding:20px 0px 0 15px;}

.contact_write h2 {margin-bottom:19px;font-size: 16px;font-family: 'gotham_htfmedium';}
.contact_right h2 {font-size: 16px; font-family: 'gotham_htfmedium';}

/*--- Index Slider Css ---*/
.descriptionGrid{
	position:absolute; left:6%; top:30%;
	font-size:14px; height:auto; padding:0 10px;
	}
.description{display:block;font-size:14px; height:auto; font-weight:bold;}
.description h1{
	color:#fff;
	font-size:42px; margin-left:20px;
	}
.description h2{
	color:#fff;
	font-size:30px; margin:0 0 30px 20px;
	}
.description h3{color:#fff; font-size:25px; margin:0 0 5px; font-weight:normal;}
.description p {font-size:16px; font-weight:normal;}
.description .detailsInfo{width:510px; color:#fff; font-size:16px; font-weight:400;}
.description .detailsInfo .col1{border:1px solid #8f8f8f; padding:20px 20px 10px;}
.description .detailsInfo .col2{
	background:url(../images/redBG.png) right top no-repeat; font-size:17px;
	color:#fff; height:45px; line-height:45px; padding:0px 25px;
}

/*--- End Column ---*/

/*--- Footer ---*/
footer{padding:40px 0 0; overflow:hidden; border-top:1px solid #e5e5e5; position:relative; font-size:11px; color:#bdb9b8;}
footer .footerLink ul{display:block; padding:0; margin:0; list-style:none; overflow:hidden;}
footer .footerLink ul li{padding:7px 0px; margin:0px;}
footer .footerLink ul li a{color:#bdb9b8; font-size:10.5px;}
footer .footerLink ul li a:hover{text-decoration:underline;} 

footer .f-Col1{float:left; width:44%; padding:36px 90px 0 0px; line-height:17px;}
footer .f-Col2{float:left; width:14%; padding-right:20px;}
footer .f-Col3{float:left; width:15%; padding-right:20px;}
footer .f-Col4{float:left; width:16%; padding-left:20px;}
footer .f-Col5{float:left; width:11%;}

footer .f-Col1 span{color:#000;}
                      
footer .footerLink .phone{color:#3d3c3c; font-size:14px; letter-spacing:1px; font-weight:600; display:inline-block;}
footer .footerLink .phone .fa{
	width:20px; height:20px; text-align:center; line-height:20px; 
	color:#fff; background:#a4a4a4; border-radius:100%;
	}
footer .footerLink .social{padding-bottom:0px;}
footer .footerLink .social .fa{
	width:20px; height:20px; text-align:center; line-height:20px; 
	color:#fff; background:#a4a4a4; border-radius:100%;
	}

footer .chatwithUs{
	background:#df4a4a url(../images/icons/chat-icon.png) 15px 12px no-repeat;
	color: #fff; font-size: 15px; width:205px; height:50px; line-height:50px;
    padding:0px 15px 0px 70px; font-weight:400;
	font-family: 'gotham_htfmedium';
	float:right; text-align:center;
}

.subFooter{background-color:#ccc5c5; color:#fff; text-align:center; padding:15px; font-size:13px; margin-bottom:5px;}

.jslider-value-to{right:-15px !important;}
.re-table {position:relative;}
.product-acc .accordion-heading .accordion-toggle:after { content:"-"; float:right; color:grey; width:19px; height:19px; font-size:20px; line-height:18px; text-align:center; background:#bab7b3; color:#fff; margin-top: -19px; right:17px; position:absolute;}
.product-acc  .accordion-heading .accordion-toggle.collapsed:after { content:"+"; }
.product-acc  .accordion-inner .table > tbody > tr > td  {border:0;}
.product-acc  .accordion-inner .table tbody > tr > td span {color:#000;}

/*--- All Padding And Margin ---*/
.padding1{padding:0 30px 0 55px;}

.marginTB80{margin-bottom:80px; margin-top:80px;}
.marginTB60{margin-bottom:60px; margin-top:60px;}
.marginTB50{margin-bottom:50px; margin-top:50px;}
.marginTB30{margin-bottom:30px; margin-top:30px;}
.marginT30{margin-top:30px;}
.marginT50{margin-top:50px;}
.marginB12{margin-bottom:12px;}
.marginB50{margin-bottom:50px;}

/*--- Tablet View Css here ---*/
/*@media (min-width:1900px) {
	.container{max-width:1800px; width:100%; position:relative;}
	.descriptionGrid{left: 6%;}
	.nav-arrow1{left:12%;}
	.nav-arrow2{left:18%;}
	.nav-arrow3{left:25%;}
}

@media (min-width:1600px) and (max-width: 1899px) {
	.container{max-width:1500px; width:100%; position:relative;}
}

@media (min-width:1400px) and (max-width: 1599px) {
	.container{max-width:1300px; width:100%; position:relative;}
}
@media (min-width:1300px) and (max-width: 1399px) {
	.container{max-width:1200px; width:100%; position:relative;}
	
}*/
@media (min-width:1151px) and (max-width: 1299px) {
	.nav-arrow1{left:22%;}
	.nav-arrow2{left:30%;}
	.nav-arrow3{left:38%;}
}

@media (min-width:1000px) and (max-width: 1150px) {
	.descriptionGrid{left:5%;top:15%;}
	.nav-arrow1{left:24%;}
	.nav-arrow2{left:35%;}
	.nav-arrow3{left:46%;}
	.ql-popupDiv{padding: 20px 20px;}
	.quickLink-tab .datpicker{width: 34%;}
	.quickLinkGrid{width: 12%;padding:10px;}
	.quickLinkGrid .quickLinkBtn li{padding: 45px 0;}
	.quickLinkGrid .quickLinkBtn li span.icons{width: 80px;height: 80px;line-height: 80px;}
	.description h1{font-size: 30px;}
	.description h2{font-size:20px;margin: 0 0 15px 20px;}
	.description .detailsInfo{font-size:14px;}
	.description .detailsInfo .col1{padding:10px 20px 5px;}
	.description .detailsInfo .col1 p{margin:0 0 10px;}
	.description h3{font-size:16px;}
	.description .detailsInfo .col2{font-size:15px;height:30px;line-height:30px;}
	
}
/*--- Tablet View Css here ---*/

@media (min-width:768px) {
.modal-sm {width:510px}
.modal-md {width:760px}
.modal-lg {width:900px}
}

@media (max-width: 992px) {
.rightEC{margin-right:0px;}
.rightEC li{padding:42px 15px 0px;}
.rightNav li a{padding:50px 15px 40px;}

.leftGrid{width:100%; margin-bottom:20px;}
.rightGrid{width:100%; margin-bottom:20px;}

.redText48{color:#df4a4a; font-size:24px;}

.marginB50 {margin-bottom: 30px;}

footer {padding:20px 0 100px;}

footer .f-Col1{width:100%; padding:0px 0 20px;}
footer .f-Col2{width:25%; padding-right:0px;}
footer .f-Col3{width:25%; padding-right:0px;}
footer .f-Col4{width:25%; padding-left:0px;}
footer .f-Col5{width:25%;}

 
}
	
/*--- Mobile View Css here ---*/
@media (max-width: 768px) {
.CallusGrid{font-size:14px;}
.CallusGrid span{font-size:12px;}

.hide-desk{display:inline-block;}

.right-right {float:right; vertical-align:middle; margin-top:23px;}	
.rightEC{padding:0px; margin:0px; float:left;}
.rightEC li{padding:10px 6px 0px; margin:0px;}

.rightNav{float:right; margin:20px 0; margin-left:9px;}
.rightNav li{padding:0px; margin:0px; display:inline-block; font-size:13px;}
.rightNav li a{padding:0px 0 20px; display:block; margin:0px; background:inherit;}
.rightNav ul .arrow{left:65%;}
.rightNav li:last-child a {margin-left:9px;}


.rightNav ul{min-width:250px; border-radius:0px; left:inherit; right:0;}
.rightNav ul li a{font-size:14px;}

.description{display:block;}

.ModifySearch{overflow:hidden; margin-bottom:10px;}
.ModifySearch .SortCol{display:block; float:left; padding-top:15px;}
.ModifySearch .CV-text{padding:15px 0 0; display:block;}

.ProGrid{margin-bottom:0px; margin-top:20px;}
.ProGrid h2{margin-bottom:30px;}
.ProinfoGrid{margin-bottom:20px; }
.ProinfoGrid li {text-align:center; margin-bottom:0px; width:100%;}

.ProinfoGrid li .details{
	
	font-size:16px; height:auto; line-height:22px; padding:10px;
}


.SocialInfo{padding:25px 0px; height:auto;}
.SocialInfo p:last-child{margin-bottom:0px;}

.productCol{padding:0px;}#SingleCountry .redlBtn

.table-responsive > .table-bordered{border:1px solid #ddd;}

footer {padding: 20px 0 0px;}
footer .footerLink ul li{padding:4px 0px;}
footer .footerInfo{padding:0px 0px 20px;}
footer .footerLink{margin-bottom:20px;}

footer .f-Col2{width:100%; text-align:center;}
footer .f-Col3{width:100%; text-align:center;}
footer .f-Col4{width:100%; text-align:center;}
footer .f-Col5{width:100%; text-align:center;}

.description .detailsInfo {width:436px;}
.description .detailsInfo .col1 {padding:12px;}
.description .detailsInfo .col1 p {margin-bottom:6px;}
.description .detailsInfo .col2 {height:32px; line-height:32px; font-size:15px;}
.description h1 {font-size:16px;}
.description h3 {font-size:15px;}
.description p {font-size:13px;}

.ProGrid .prodCol {padding:0 15px;}
.navbar-brand.navbar-brand {padding:30px 15px;}




}

@media screen and (max-width:600px) and (orientation:landscape) {
.right-right {float:left; margin-top:0;}	
.descriptionGrid {top:16px !important;}
.description h1 {font-size:14px !important;}	
.description h2  {font-size:13px !important; margin-bottom:9px;}	
.description h3  {font-size:12px !important;}	

}

@media screen and (min-width:601px) and (max-width:667px)  and (orientation:landscape) {
.descriptionGrid {top:16px !important;}
.description h1 {font-size:14px !important;}	
.description h2  {font-size:13px !important; margin-bottom:9px;}	
.description h3  {font-size:12px !important;}		
}





@media screen and (max-width:767px) {
	
.right-right {float:left; margin-top:0;}	
.callnumber {font-size:11px;}	
	
	.find-area-list {margin-bottom:36px;}
	.find-map-area {text-align:center;}
	.order-gray-bg {padding:4%; margin-bottom:60px;}
.order-gray-bg .submit_acontact {margin:auto; text-align:center; display:block;}	
.pay-top-menu  {width:100%;}
.pay-top-menu .mid-border {height:66px; width:1px; position:relative; top:0; margin:auto; margin-top:9px; margin-bottom:9px;}
.mob-center {text-align:center; border-top:1px solid #F0EDED; padding-top:19px;}
.border-right {border-right:none !important; border-bottom:1px solid #DAD7D2; height:auto !important; padding-bottom:16px;}
.order-gray-padding {margin-bottom:20px !important;}
.tabL-width {width:100% !important;}
.tabR-width {width:100% !important;}
.submit_orderpay  {width:100% !important;}
.order-mode-area {padding:12px !important;}
}
@media screen and (max-width:500px) {
.innJumper2 {left:0 !important; right:inherit !important; padding:14px  12px !important; min-width:100% !important;}
	
}


@media screen and (max-width:384px) {
.descriptionGrid {display:none;}
.owl-theme .owl-controls {bottom:12px;}
.rightNav ul {min-width: 100%; left:0;}
.innJumper2 {left:0 !important; right:inherit !important; padding:14px  12px !important; min-width:100% !important;}
}
@media screen and (max-width:320px) {
	.SubmenuGrid ul li{padding: 0 10px 0;}
	.owl-theme .owl-controls {bottom:6px;}
} 

/*kumaresh-------------30.11.15*/
.find-store h2 {margin-bottom:26px;}
.location-icon {width:149px; height:146px; margin:auto; text-align:center; border-radius:50%; border:1px solid #df4a4a; color:#df4a4a; margin-bottom:26px;}
.location-icon .fa {text-align:center; vertical-align:middle; display:block; font-size:69px; margin-top:39px;}
.find-map-area { padding:0 5%; margin-bottom:76px; color:#c9c6c2; }
.find-map-area h3 {color:#B3B3B2;}
.find-map-area h3 span {color:#000;}
.find-area-list {}
.find-area-list ul {padding-left:0; list-style-type:none;}
.find-area-list ul li {list-style-type:none; text-transform:uppercase; line-height:19px; font-size:12px; color:#ABAAAA; margin-top:9px; margin-bottom:36px;}
.find-area-list ul li .fa {text-align:center; vertical-align:middle; display:block; font-size:59px; color:#df4a4a;}

.scrollpanel {width:100%; height:586px;}
.scrollpanel .sp-scrollbar { width:13px; background-color:#efefef; cursor:pointer;}
.scrollpanel .sp-scrollbar .sp-thumb {  background-color: #d5d3d4;  transition: height 0.2s ease-in-out; margin-top:12px;}
.scrollpanel .sp-scrollbar.active .sp-thumb { background-color: #d5d3d4;}
.no2 .sp-scrollbar,.no4 .sp-scrollbar { margin: 4px;}
.no4 { border-radius: 9px;}
.no4 .sp-scrollbar { border-radius:9px;}
.no4 .sp-scrollbar .sp-thumb { border-radius:9px;}



.order-gray-bg {background:#f7f4ef; padding:4% 20% 6% 32%; margin-bottom:60px;}
.pay-top-menu {text-align:center; position:relative; font-size:16px; letter-spacing:1px; color:#676767; font-weight:bold; width:499px; margin:auto; margin-top:29px; margin-bottom:39px;}
.pay-top-menu .mid-border {height:1px; background:#d4d4d4; width:176px; position:absolute; top:32px; margin:auto; left:0; right:0;}
.round-number {width:62px; height:62px; border-radius:50%; border:1px solid #d4d4d4; margin:auto; text-align:center; margin-bottom:12px;}
.round-number span { margin-top:17px; display:block; vertical-align:middle; font-size:22px; color: #ccc;}
.pay-top-menu .active {color:#df4a4a; }
.pay-top-menu a:hover {color:#df4a4a; }
.pay-top-menu a:hover span  {color:#df4a4a; }
.pay-top-menu a:hover .round-number {border:1px solid #df4a4a; }
.pay-top-menu .active .round-number {border:1px solid #df4a4a; }
.pay-top-menu .active span {color:#df4a4a; }

#careers-area {padding-bottom:9%; position:relative;}
#Our_Team {position:relative;}
.poup-sidebar {background:#f5f5f5; color:#000;}
.post-name {background:#de4a4a;  padding: 41px 26px 42px 26px; color:#fff; font-size:19px;}
.post-details {padding:19px 26px; color:#b1b1b1; font-size:18px; min-height:336px;}
.post-details p {color:#b1b1b1; font-size:17px; text-align:left;}
.post-details p span {color:#666;}
.pR0 {padding-right:0;}
.view-moreL {background:#e0e0e0; color:#000; padding:26px; text-decoration:underline; color:#333;}
.pL30 {padding-left:30px;}
.post-full-details h2 {text-align:left !important; color:#df4a4c;     margin-bottom: 29px;}
.post-full-details {padding:0px 29px 0 0px;}
.L19 {padding-left:19px;}
.post-full-details p {margin-bottom:14px;}
.careers-pop-content h3 {font-weight:normal; margin-bottom:4px; }
.careers-pop-content button {width:129px;}

.order-gray-bg ul {padding-left:0;}
.order-gray-bg ul li {list-style-type:none;}
.order-gray-bg ul li label {font-size:15px; margin-top: 15px;}
.order-gray-bg .submit_acontact  {margin-top:16px;padding: 16px 15px;}
.order-gray-bg input[type="submit"].submit_acontact.submit_acontact{margin-top:16px;padding: 16px 15px;}

/*kumaresh-------------01.12.15*/
.tabR-width input, select {background:#fff; margin-bottom:1px; border: 1px solid #e4ddd3; height:48px; width: 100%;}
.tabR-width select {  -moz-appearance: none;  -webkit-appearance: none; background: #fff url(../img/ar.png) no-repeat 96%;font-size: 12px; 
font-weight: normal;  color: #908E8F;  outline: none;  height: 48px;  width: 100%;  border-radius: 6px;  padding: 10px 20px; border: 1px solid #E4DDD3; margin-bottom:0;}
.tabR-width .form-group { color:#000;}
.tabR-width .form-group label {font-size:12px;}
.tabR-width .form-group span {color:#bdbbbe;}
.top-yellow-bg img {vertical-align:middle; margin-right:6px;}
.top-yellow-bg {background:#fcf9da; padding:6px; border:1px solid #f4e185; color:#1f51aa; margin-bottom:15px;  }
.top-yellow-bg  a {color:#1f51aa; font-weight:bold; }


.paddingLR0 {padding-left:0; padding-right:0;}
.mob-L0 {padding-left:0;}
.order-gray-padding {padding:2% 20% 2% 32%; margin-bottom:24px;}
ul.order-mode {text-align:center; padding-left:0; }
.border-right {border-right:1px solid #dad7d2; text-align:center;  height:126px;  }
ul.order-mode p {font-size:16px; color:#848484; margin-bottom:26px; padding-top:14px;}
ul.order-mode span {font-size:17px; color:#000; font-weight:500; letter-spacing:1px; margin-top:16px;}

.order-mode-area {padding:12px 21px 12px 32px; margin-bottom:24px; background:#e8e7e3; font-family:Verdana, Geneva, sans-serif;}
.order-mode-area h5 {font-family:Arial, Helvetica, sans-serif; font-size:15px; margin-bottom:2px;}
.order-mode-area small {color:#666; margin-bottom:16px;  }
.help-btn a {background:#595959; color:#fff; text-align:center; padding:8px 9px; vertical-align:middle; float:right; margin-bottom:12px;}
.save-card-bg {background:#f6f6f6; padding:6px; color:#333333; margin-bottom:15px;  }
.save-card-bg span {display:inline-block; margin-right:6px; font-size:12px;}
.save-card-bg span small {font-size:12px; color:#ABABAB;}
.spanR {float:right;}
.save-card-bg a {color:#1f51aa; font-size:12px; float:right;}
.total-am {font-size:18px; margin:19px 0 15px 0; }
.total-am span {letter-spacing:1px; color:#df4a4a }
.submit_orderpay {background:#E04A4B; display:block; font-family:Arial, Helvetica, sans-serif; color:#fff; padding:13px; letter-spacing:normal; font-size:16px; border-radius:3px; margin:0 0 15px 0;}
.p-content {font-size:11px; color:#ABABAB; font-family:Arial, Helvetica, sans-serif; letter-spacing:-0.2px; }
.payment-img img {display:inline-block; margin:0 36px 0 16px;}
.padding-input {padding-right:216px; position:relative; }
.inputR-img {position:absolute; margin-top:13px; right:16px;}
.custom-check {float:left; margin-right:9px; margin-top:-9px;}

.map_area {margin-bottom:30px;}
.proudct-support h5 {font-size:15px;}
.welcome-content {margin:36px 0; text-align:justify;}
.account-contact {padding:0 2%; margin-top:3.6%;}
.welcome-content p {font-size:12.6px;}
.account-contact .contact_write {padding-right:8%; padding-top:3%;}
.account-contact .contact_right {padding-left:8%; padding-top:3%;}
/*.new-contact .leftsite_menu {padding-bottom:0;}*/

.wR-box {text-align: center; margin:0px; padding: 0 12px; position: relative;}
.wR-box span.icons { background-color:#df4a4a; border-radius: 100%; display: inline-block; width:139px; height:139px; line-height:139px; text-align: center; margin-bottom:26px;}
.wR-box a:hover span.icons { background-color: #3d3c3c; color:#df4a4a;}
.wR-box h3 {letter-spacing:1px; font-size:14px;}
.welcome-round {margin-top:66px;}

.colo_q span {color:#939393;}
.pL0 {padding-left:0;}
.data-contect {margin-bottom:29px;}
.data-contect h5 {margin-bottom:3px; font-size:12.6px;}
.data-contect p {line-height:17px; font-size:12.6px; text-align:justify;}
.data-contect .round-number {  width:71px; height:71px; line-height:71px; border-radius: 50%;  border: 1px solid #e04a4b;  margin: auto;  text-align: center; margin-bottom: 12px;} 
.data-contect .round-number span { display: block; margin:0; vertical-align: middle;  font-size: 20px; color: #e04a4b;}
.marginL30 {margin-left:26px;}

.faq-acc {margin-top:39px;}
.faq-acc h5 {font-size:14px; letter-spacing:1px; line-height:24px;}

.faq-acc {margin-bottom:16px; border-bottom:1px solid #EAE8E8; padding-bottom:26px;}
.accL0 {padding-left:0;}

.order-style {padding: 4% 12% 9% 12%;}
.order-gray-bg0 { background: #f0ede6; border: 1px solid #E1E1E1;  padding:1% 2% 1% 4%;     margin: 0 auto; width: 96%; border-radius: 8px;	}
.order-gray-bg0 .fieldlist {padding:0; margin:0; border-radius:0;}
.more-space{margin-left:19px; margin-top:6px; color:#666666;}

#showNow{display:none;}




/* faqs acc styling start */
.faq-acc .panel-group .panel-heading + .panel-collapse > .panel-body {border: 1px solid #fff;}
.faq-acc .panel-group,.panel-group .panel,.panel-group .panel-heading,.panel-group .panel-heading a,.panel-group .panel-title,
.faq-acc .panel-group .panel-title a,.panel-group .panel-body,.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-radius:0;  border: 0;}
.faq-acc .panel-group .panel-heading {  padding: 0;}
.faq-acc .panel-group .panel-heading a { font-size:12.6px;  display: block;  background: #fff;  color: #333333;  padding:7px 0 7px 24px;  text-decoration: none;  position: relative; font-weight:300; line-height: 16px; color:#000;}
.faq-acc .panel-group .panel-heading a.collapsed {  background: #fff;  color: inherit;}
.faq-acc .panel-group .panel-heading a:after {  content: '-';  position: absolute; color:#939393; font-weight:300;  left:0px;  top:8px;  font-size:26px; padding-right:30px;}
.faq-acc .panel-group .panel-heading a.collapsed:after {  content: '+';}

.faq-acc #collapseabd03 .panel-group .panel-heading a:after {  content: '-';  position: absolute; color:#939393; font-weight:300;  left:0px;  top:8px;  font-size:26px; padding-right:30px;}
.faq-acc #collapseabd03 .panel-group .panel-heading a.collapsed:after {  content: '+';}




.faq-acc .panel-group .panel-collapse {  margin-top: 5px !important;}
.faq-acc .panel-group .panel-body {  background: #ffffff;  padding:6px 0px 26px 22px; text-align:justify; font-size:12.6px;     line-height: 18px;}
.faq-acc .panel-group .panel {  background-color: transparent;}
.faq-acc .panel-group .panel-body p:last-child,.panel-group .panel-body ul:last-child,.panel-group .panel-body ol:last-child {  margin-bottom: 0;}
.faq-acc .panel-default {box-shadow:none;}
/* faqs acc styling End */

/* label checkbox styling start */
.save-card-bg [type="checkbox"]:not(:checked),
.save-card-bg [type="checkbox"]:checked {
 /* position: absolute; left: -9999px;*/
}
.save-card-bg [type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative; padding-left: 25px; cursor: pointer;
}

/*.save-card-bg [type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: ''; position: absolute;left:0; top: 2px; width:25px; height:25px; border:2px solid #a8a9a4; background: #f6f6f6;
}
.save-card-bg [type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔'; position: absolute; top:4px; left:2px; font-size:24px; font-weight:bold; line-height: 0.8; color: #000; transition: all .2s;}*/
.save-card-bg [type="checkbox"]:not(:checked) + label:after {
  opacity: 0; transform: scale(0);
}
.save-card-bg [type="checkbox"]:checked + label:after {
  opacity: 1; transform: scale(1);
}
.save-card-bg [type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none; border-color: #bbb; background-color: #ddd;
}
.save-card-bg [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.save-card-bg [type="checkbox"]:disabled + label {
  color: #aaa;
}
.save-card-bg [type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
 border:2px solid #a8a9a4;
}
/* label checkbox styling END */


.f-nav { z-index:9999; position:fixed; top:0; width:100%; background:#fff; }
	
.team-popup {width:100% !important; top:9px !important; left:0 !important; height:100% !important; border:0 !important; padding:35px 0px !important; }	
.team-popup h2 { text-align: center;}
.team-popup .test-name  {display:inline-block;}
.team-popup .caption-social  {display:inline-block; float:right;}	
.test-name h3 {    color: #df4a4a; font-size: 18px; font-weight: 400; margin: 15px 0 5px 0;}
.team-popup p {text-align:justify; font-size:12.6px;}
.caption-social img {display:block; float:right; margin:12px 0px 0px 0px;}
.team-popup .no-margin{ margin: 0;    }
.team-popup .carousel-indicators li { border:0;}
.team-popup .carousel-control { color:#000; width: 5%; top:27%; }
.team-popup .carousel-control.left,
.team-popup .carousel-control.right {background-image: none;   }
.team-popup .item{ padding: 15px 40px; background: #fff; }
.team-popup .media-object { margin: auto; border:1px solid #d02222; border-radius:50%; margin-top:26px; text-align:center; width:299px; height:299px; }

.new_creto_menu{ width:100%; border-bottom:1px solid #eaeaea; margin-bottom:70px; display:inline-block; text-align:center;}
.new_creto_menu ul{ margin:0; padding:0;}
.new_creto_menu ul li{ display:inline-block; list-style:none; text-align:center; margin-bottom:2%; font-weight:500; border-right:1px solid #505050;}
.new_creto_menu ul li:last-child{ border:0;}
.new_creto_menu ul li a{ color:#505050; font-size:16px; padding:4% 66px;}
.about_area_p06{ padding:0 8%;}
.about_icon{ background-color: #df4a4a;  border-radius: 100%; display: inline-block; width: 100px; height: 100px; line-height: 99px; text-align: center;}

.o-story {padding-top:4%;}

.about_Grid h2{margin-bottom:60px;}
.about_Grid { margin-top:5%; width:100%; float:left;}
.about_Grid .prodCol{text-align:center; margin:0% 0 1% 0; padding:0;  position:relative;}
.about_Grid .prodCol .team-box{color:#939393;  height: 298px; padding:20px 10px;}
.about_Grid .prodCol .team-box img{ width:135px; height:135px;border:1px solid #df4a4a; border-radius:50%; }
.about_Grid .prodCol .team-box p{ font-size:12px; text-align:center; }
.about_Grid .prodCol a:hover .know_button{ display:block;}
.about_Grid .prodCol a:hover{ border:1px solid #df4a4a; border-radius:10px; height: 298px; display:block;}
.about_Grid .prodCol h3{font-family: 'gotham_htfmedium'; color:#df4a4a; font-size:18px; font-weight:400; margin:15px 0 5px 0;}
.about_Grid .prodCol h3 span{color:#c9c6c2;}
.about_Grid .prodCol span.icons{ border-radius:100%; display:inline-block;	width:135px; height:135px; text-align:center; }
.know_button{background: #E04A4B; width:130px; display:none; font-size: 13px; margin: 20px 0 25px 0; border-radius: 6px; color: #fff;  padding: 8px 10px;
    font-weight: 600; float:none; margin:auto;  letter-spacing:2px;   border: 0;  outline: none;}

.new_creto_menu{ width:100%; border-bottom:1px solid #eaeaea; margin-bottom:20px; display:inline-block; text-align:center;}
.new_creto_menu ul{ margin:0; padding:0;}
.new_creto_menu ul li{ display:inline-block; list-style:none; text-align:center; margin-bottom:2%; font-weight:500; border-right:1px solid #505050;}
.f-nav  ul li{margin:1% 0;}
.new_creto_menu ul li:last-child{ border:0;}
.new_creto_menu ul li a{ color:#505050; font-size:16px; padding:4% 66px;}
.about_area_p06{ padding:4% 8% 1% 8%;}
.about_icon{ background-color: #df4a4a;  border-radius: 100%; display: inline-block; width: 100px; height: 100px; line-height: 99px; text-align: center;}
.about_area_p06 h2 {margin-bottom:4%;}

.heading_t ul{ margin:0 0 5px 0; padding:0;}
.heading_t ul li{ list-style:none; letter-spacing:1px; color:#C5C5BD !important; font-weight:bold; min-width: 19%; text-align:center; margin:0 auto; display:inline-block; padding:13px 0; font-size:14px; border:none !important;}
.current_area h3{ color:#939393; font-weight:normal;}
.current_area ul{ margin:0 0 5px 0; padding:0;}
.current_area ul li{ list-style:none; letter-spacing:1px; color:#5D5D5D; font-weight:bold; min-width: 19%; text-align:center; margin:0 auto; display:inline-block; padding:13px 0; font-size:12px;}
.current_area ul li button {  padding: 7px 16px !important;margin: 0; font-weight:400;letter-spacing:1px;}


.current_area ul li:nth-child(1){ border-bottom:1px solid #CECECE;border-top:1px solid #CECECE;border-left:1px solid #CECECE;
								  border-bottom-left-radius:10px;border-top-left-radius:10px;}
.current_area ul li:nth-child(2){ border-bottom:1px solid #CECECE; border-top:1px solid #CECECE; margin-left: -4px;}
.current_area ul li:nth-child(3){ border-bottom:1px solid #CECECE; border-top:1px solid #CECECE; margin-left: -4px;}
.current_area ul li:nth-child(4){ border-bottom:1px solid #CECECE;border-top:1px solid #CECECE;border-right:1px solid #CECECE;
								  border-bottom-right-radius:10px;border-top-right-radius:10px; margin-left: -4px;}
.current_area ul li:nth-child(5){ text-align: left; padding-left: 8px;}

.for_down p{font-size:13px;}
.about_ProGridw h5 {margin-left:34px; font-size:12px; letter-spacing:0.2px;}

#back-top {position:fixed; right:29px; bottom:46px; width:49px; height:49px; line-height:46px; border:1px solid #df4a4a; text-align:center; border-radius:50%; color:#df4a4a; font-size:26px;  }
#back-top a {color:#df4a4a; vertical-align:middle;display:block;} 

.rom_adv{ width:100%; float:left; padding-bottom:4%;}
.rom_adv .col-md-3{ padding:0 7.5px;}
.rom_adv .col-md-3 h3{ font-size:14px; margin-bottom:6px; color:#716e6e;}
.for_down{float:right; width:91%; }
.about_ProGridw .prodCol span.icons{ margin-left:-8px;}
.about_ProGridw .prodCol{text-align:left; margin:0px; padding:15px 15px 0 0; margin:0 10px; float:left; min-height:200px; position:relative;}
.about_ProGridw .prodCol a{ color:#939393; display:block;}
.about_ProGridw .prodCol:hover{ background-color:#f5f5f5;}
.about_ProGridw .prodCol h3{font-family: 'gotham_htfmedium'; color:#df4a4a; font-weight:400; font-size:14px; margin: 0 0 10px 0;}
.bold_qw5{ font-weight:600; color:#000; font-size:12px; letter-spacing:1px;}

.current_area {padding:3% 0}

/*kamalesh-------------30.11.15*/
.pa80offer{padding:0 11%;}
.pa80ding{ padding:0 4.5%;}
.Pro80w{ margin:0% 0 0 0;}
.Pro80w strong{ font-size:12px; color:#3d3c3c;}
.Pro80w p{ color:#adacab; font-size:12.5px; letter-spacing:0.4px; font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif;}
.Pro80w h2{ padding-bottom:2%;}
.ProGridmadd{ margin:4% 0 2% 0}
.ProGridmadd, .about_area_p06 p{ text-align:justify; font-size:12.6px; font-family:'gotham_htf_bookregular', Arial, Verdana, Helvetica, sans-serif; font-weight:normal;}
.ProGr20r{ margin:0px 0 4% 0}
.ProGridmadd h2{ padding-bottom:3%;}
.ProGridw{margin-bottom:0px; margin-top:12px;}
.ProGridw h2{margin-bottom:60px;}
.ProGridw .prodCol{text-align:left; margin:0px; padding:0 35px; min-height:280px; position:relative;}
.ProGridw .prodCol a{color:#939393; display:block;}
.ProGridw .prodCol a:hover span.icons{background-color:#3d3c3c;}
.ProGridw .prodCol h3{font-family: 'gotham_htfmedium'; color:#565656; font-weight:400; font-size:14.6px; margin: 0;top: 50%; left: 114px; transform: translateY(-50%); line-height:18px;     letter-spacing: 0.4px;position:absolute;}
.ProGridw .prodCol h3 span{color:#c9c6c2;}
.ProGridw .prodCol span.icons{
	background-color:#df4a4a; border-radius:100%; display:inline-block;
	width:95px; height:95px; line-height:95px; text-align:center; float:left;}
.ProGridw .prodCol p{ width:96%; float:left; padding-top:6%; font-size:14.4px; color:#928f87; text-align:left;}
.maweq03{ width:88%; float:left; height:96px; position:relative;}
.helf_a01{background: #df4a4a; font-size: 16px; margin:0px 0 25px 0; border-radius: 6px; color: #fff; padding: 15px 16px; 
font-weight: 600;letter-spacing: 2px;  border: 0; outline: none;}
.submit_u01{background: #df4a4a; font-size: 14px; margin: 20px 0 25px 0; border-radius: 6px; color: #fff;padding: 14px 34px; 
font-weight:600;letter-spacing: 2px;  border: 0; outline: none; font-family: 'gotham_htfmedium';}
a.submit_u01:hover{color:#fff;}
.type_area70{-webkit-appearance: none;  background: #f0ede6;  font-size: 12px;  font-weight: normal; color: #000; outline: none;
    height: 48px;  width: 22%; margin-right:15px;  border-radius: 6px;  padding: 10px 20px;  border: 1px solid #E4DDD3;}
	
.type_area70 input::-webkit-input-placeholder {  color:#252424; font-weight:600; font-size:13px; letter-spacing:.7px;}

.type_area70 input:-moz-placeholder { /* Firefox 18- */  color: #252424;font-weight:600; font-size:13px; letter-spacing:.7px;}

.type_area70 input::-moz-placeholder {  /* Firefox 19+ */ color: #252424; font-weight:600; font-size:13px; letter-spacing:.7px;}

.type_area70 input:-ms-input-placeholder {  color: #252424; font-weight:600; font-size:13px; letter-spacing:.7px; }

.bNer08{ position:absolute; bottom:0; left:0; background:#333333; font-size:14px; color:#D8D8D8; text-align:center; padding:8px 0; font-weight:normal; right:0;}

#Our_Story h2 {margin-bottom:0;}

#Our_Story h2 {margin-bottom:0;}


.descriptionGridw80{
	position:absolute; left:7.2%; bottom:81px; z-index:1;
	font-size:14px; height:auto; padding:0 10px;
	}
.descriptionw80{display:block;	font-size:14px; height:auto; font-weight:bold; width:650px;}
.descriptionw80 h1{ color:#fff;	font-size:42px; margin-left:0px; }
.descriptionw80 h2{	color:#fff; font-size:30px; margin:0 0 3px 0px;	}
.descriptionw80 button{ background: #df4a4a;  font-size: 16px;  margin: 20px 0 25px 0; border-radius: 6px;  color: #fff;  padding: 16px 16px;
 font-weight: normal;  letter-spacing: 2px;  border: 0;  outline: none;}
 ul.off_to80p{ padding:0 15px; text-align:center;}
.off_to80p li{ list-style: none; text-align:center; line-height:32px; padding: 1% 0; width: 30%; font-size:14px; margin:auto; text-align:center; border-right:1px solid #eaeaea; display:inline-block; margin:6% 0;}
.off_to80p li:last-child{ border:none;}
.off_to80p li h2{ font-size:18px; font-weight:500;}
ul.qui8t_p0{ list-style: url("../img/gol.png"); text-align:left; margin:0; padding:0 0 6%  22px;}
.mB2 {padding-bottom:3% !important; margin-top:26px  !important;}
.qui8t_p0 li{ margin:0;  padding:0 0 13px 40px; font-size:13px; color:#939393; text-align:left;}
.b_to22{ padding-bottom:8%;}
.pa80offer p{ margin-bottom:7%; font-size:12.7px;}

/*offer home*/
.ProGridahome{ margin-bottom:6%;}
.innJumper2 {   background: rgba(0, 0, 0, 0.6); right: 76px; bottom: 26px; display: block; height: auto; margin: 0; padding: 28px 16% 28px 28px; color: #FFF;
    font-size: 27px;  font-weight: normal;  letter-spacing: 2px;  position: absolute;  min-width: 350px;  z-index:1;}

/*==========================================================*/
.offer_main08h img{ width:100%; height:236px; }
.offer_main08h strong{ font-weight:bold; padding-left: 4px; color:#343434; font-family:'gotham_htfmedium'; line-height:46px; font-size:18px; letter-spacing:1px;}
.offer_main08h p{ font-size:12.6px; padding-left: 4px; width:90%; color:#939393; margin-bottom:12px;}
.offer_main08h_footer{ width:100%; float:left; margin:10px 0;}
.offer_main08h_footer .date50{ vertical-align:middle; display:table-cell; /*height:36px;*/ padding:6px 24px; font-size:12.6px; 
border-radius:9px; background:#F1F1F1; float:left;}
.offer_main08h_footer .date50 span{ font-size:18px; color:#000; font-weight:500;}
.offer_main08h_footer button{ float:right; background: #df4a4a; font-size: 14px; margin: 0px 0 25px 0; border-radius: 6px; color: #fff; padding: 6px 14px;
    font-weight: normal; letter-spacing: 2px; border: 0;  outline: none;}
	.offer_fot{ font-size:18px; letter-spacing:0.6px; text-align:center;}
	.offer_fot span { clear:both; width:100%; display:block; margin-bottom:12px;}
	.offer_fot input{ margin-left:0px; width: 34%; margin-right:0; font-size:12.6px;}
	.offer_fot button{ background:#666666; margin-left:0px; margin-top: 14px; padding:7px 33px; font-weight:normal;}

.offer_fot::-webkit-input-placeholder {  color:#918F90; font-weight:600; letter-spacing:.7px;}

.offer_fot:-moz-placeholder { /* Firefox 18- */  color: #918F90;font-weight:600;  letter-spacing:.7px;}

.offer_fot:-ms-input-placeholder {  color: #918F90; font-weight:600; letter-spacing:.7px; }
.yt_oop{  padding-bottom:1% !important;}
.right_qw22{ border-right:1px solid #C4C4C4; padding-right:36px;}
.left_q89w22{ padding-left:36px;}
.offer_main08h{ margin: 6% 0 0% 0;}
.ProGridaoffer90{ margin:5% 0 0 0;}

.ProGrit7d h2{margin-bottom:60px;}
.ProGrit7d .prodCol{text-align:center; /*float:none;*/ display:inline-block; margin:0px auto; padding:0 39px; position:relative;}
.ProGrit7d .prodCol a{color:#939393; display:block;}
.ProGrit7d .prodCol a p{color:#939393; width:94%; margin:auto; margin-top: 6px;}
.ProGrit7d .prodCol a:hover span.icons{background-color:#3d3c3c;}
.ProGrit7d .prodCol h3{font-family: 'gotham_htfmedium'; font-weight:400; margin:20px 0;}
.ProGrit7d .prodCol h3 span{color:#c9c6c2;}
.ProGrit7d .prodCol span.icons{
	background-color:#df4a4a; border-radius:100%; display:inline-block;
	width:160px; height:160px; line-height:154px; text-align:center; margin-bottom:5%;
}
.ProGrBCit9d{ padding-left: ; width:68%; margin:auto; padding-bottom:5%;}
.ProGrBCit9d .re_last{ width:28%; margin-left: 2%;}
.register-area {width:44%; margin:auto;}
.register-area h2 {margin-bottom:8%;}



.ProGrBCit9d .prodCol{ text-align:center; /*width:21.5%;*/ text-align:center; margin-top: 7%; min-height:200px; padding:0 35px; position:relative;}
.ProGrBCit9d .prodCol a{color:#939393; display:block; vertical-align:middle; }
/*.ProGrBCit9d .prodCol a:hover span.icons{ color:#df4a4a; border:1px solid #df4a4a;}*/
.ProGrBCit9d .prodCol span.icons{
	background-color:inherit; border:1px solid #df4a4a;  vertical-align:middle; padding-top: 77px; border-radius:100%; display:inline-block;
	width:210px; height:210px; font-size:18px; text-align:center; font-weight:500; color:#666666;}
.ProGrBCit9d .prodCol span.icons strong{ color:#df4a4a; font-family: 'gotham_htfmedium';font-size:30px;}


.rop_we{ width: 76%;  margin: auto;  padding-bottom:2%; text-align:justify; font-size: 12.6px;}

.row.ProGrit9d .prodCol{float:left;}

.ProGrit9d .prodCol{ text-align:center; min-height:200px; float:none; display:inline-block; margin:0 auto; padding:0 24px; position:relative;}
.ProGrit9d .prodCol a{color:#939393; display:block; vertical-align:middle; }
.ProGrit9d .prodCol a:hover span.icons{background-color:#F7F7F7; color:#df4a4a; border:1px solid #df4a4a;}
.ProGrit9d .prodCol span.icons{
	background-color:inherit; border:1px solid #999999;  vertical-align:middle; padding-top: 20px; border-radius:100%; display:inline-block;
	width:136px; height:136px; line-height:95px; font-weight:600; font-family: 'gotham_htfmedium'; text-align:center;
}

.row.ProGrit9d .prodCol span.icons{
	background-color:inherit; border:1px solid #999999;  vertical-align:middle; padding-top:52px; border-radius:100%; display:inline-block;
	width:136px; height:136px; line-height:24px; font-weight:600; font-family: 'gotham_htfmedium'; text-align:center;
}

ul.qui8t_beco{ list-style: url("../img/gol.png"); width:76%; float:none; margin:auto; text-align:left; padding:0 0 2%  22px;}
.qui8t_beco li{ margin:0;  padding:0 0 13px 18px; font-size:12.6px; color:#939393; text-align:left;}

.bcright_box{ background:#FAF8F9; font-size:12px; margin-bottom:4%; margin-top:15px; text-align:center; padding:5% 0px; width:100%; float:left; border-bottom:1px solid #eaeaea;;}
.bcright_box input{ background:#F0EDE6; font-size:13px; font-weight:500; color:#908E8F; outline:none; height:48px; width:100%; border-radius:6px; 
margin:10px 0; padding:10px; border:1px solid #E4DDD3;}
.bcright_box button{ background:#E04A4B; font-size:14px; margin:20px 0 18px 0; border-radius:6px; color:#fff; padding:16px 0; outline:none; font-weight:600; letter-spacing:3px; width:130px; border:0;}


/*kamalesh media*/
@media screen and (max-width:800px){.type_area70{ width:70%;} .ProGrBCit9d .re_last{width:inherit;} ul.qui8t_beco{ width:92%;} .ProGrit7d .prodCol{ margin-bottom:6%;} .rop_we{ width:100%;} }
@media screen and (max-width:1200px){}




/*soni*/
.order-mode-area .fa-clr{color:#df4a4a; font-size:20px}

/*-----------------SignUp Popup----------------------------------------------------------------------------*/
.popup_part.modal{top:12%;overflow-y: auto; outline:none;}
.popup{ background:#fff; min-height:500px;}
.popup button.close{ background:#df4a4a; color:#fff; padding:15px; opacity:1;font-weight: normal; margin:0;border-radius: 0;}
.popup_area{ margin:0 auto; float:none;}
.popup h2{margin: 0 auto;padding:60px 0;text-align: center;color:#505050; font-size:48px;}
.popup input{
    background: #F0EDE6;
    font-size: 13px;
    font-weight: 600;
    color: #908E8F;
    outline: none;
    height: 48px;
    font-weight: normal;
    width: 100%;
    border-radius: 6px;
    margin: 0px 15px 10px 0;
    padding: 10px 10px 10px 25px;
    border: 1px solid #E4DDD3;
}
.popup button.submit_button{background: #E04A4B;border-radius: 6px;color: #fff;font-weight: 600;letter-spacing: 3px;border: 0;outline: none;padding: 16px 30px;font-size: 14px;margin:30px auto;}
.popup .login_area{color:#000;}
.popup .login_area.margin_bootm80{margin-bottom:60px;}
.popup .login{color:#df4a4a;}

/*-----------------Valueadded Area----------------------------------------------------------------------------*/

.icon_area span{background-color: #df4a4a;border-radius: 100%;display: inline-block;width: 95px;height: 95px;line-height: 95px;text-align: center;}
.value_textArea{}
.value_textArea h3{color:#565656;font-size:18px; font-weight:600;}
.value_textArea p{color:#928f87; line-height:20px;margin-bottom:0;}
.value_textArea .know_more{background: #df4a4a;display: inline-block;border-radius: 8px;padding: 15px 18px; margin:30px auto;}
.value_textArea .know_more a{color:#fff;font-family: 'gotham_bookregular';font-size: 14px;font-weight: 600;}


/*------------------------------------------------------------------------k18*/
@media screen and (max-width:1024px) {
.ProGrid .prodCol h3 span{ display:block;}.descriptionGrid{ top:50px;}.description h1{ font-size:18px;}
.description h2{ font-size:16px;}.description .detailsInfo{ width:350px;}.description h3{ font-size:16px;}
.ProGrBCit9d {width:100%;}
.register-area {width:64%;}
.rop_we {width:100%;}
}




/*-----------------QuickLink Area----------------------------------------------------------------------------*/
.homepage.quickLink_tab{position:fixed; top:48%; right:0; z-index:2;}
.innerpage.quickLink_tab{position:fixed; top:46%; right:0; z-index:2;}

.homepage.quickLinkGrid{position:fixed; width:15%; right:-15%; top:152px; margin:0px; background:#f7f4ee;display: block !important; z-index:2;}
.innerpage.quickLinkGrid{position:fixed; width:15%; right:-15%; top:186px; margin:0px; background:#f7f4ee;display: block !important; z-index:2;}


.quickLinkGrid .quickLinkBtn{padding:0px; margin:0px; list-style:none;}

.homepage.quickLinkGrid .quickLinkBtn li{padding:68px 0; margin:0px; border-bottom:1px solid #dddbd7; text-align:center;}
.innerpage.quickLinkGrid .quickLinkBtn li{padding:34px 0; margin:0px; border-bottom:1px solid #dddbd7; text-align:center;}

.quickLinkGrid .quickLinkBtn li:last-child{border-bottom:0px;}
.quickLinkGrid .quickLinkBtn li a{color:#939393; display:block;}
.quickLinkGrid .quickLinkBtn li a:hover span.icons{background-color:#df4a4a;}
.quickLinkGrid .quickLinkBtn li a.active span.icons{background-color:#df4a4a;}
.quickLinkGrid .quickLinkBtn li h3{font-family: 'gotham_htfmedium'; font-weight:400; margin:5px 0; font-size:14px;}
.quickLinkGrid .quickLinkBtn li span.icons{
	background-color:#3d3c3c; border-radius:100%; display:inline-block;
	width:95px; height:95px; line-height:95px; text-align:center;
}

.popup-row {width:97%; margin:auto;}
.inR {float:right;}
.more-input .leftForm .form-control {width:90% ;}

.homepage.ql-popupDiv{
	position:fixed; width:83%; border:1px solid #ccc; 
	left:10px; top:152px; padding:30px 20px; margin:0px; z-index:2; background-color:rgba(255, 255, 255, 1);display:none;
	}
.innerpage.ql-popupDiv{
	position:fixed; width:83%; border:1px solid #ccc; 
	left:10px; top:186px; padding:15px 20px; margin:0px; z-index:2; background-color:rgba(255, 255, 255, 1);display:none;
	}
.homepage.ql-popupDiv h1{font-size:48px; text-align:center; margin-bottom:30px; letter-spacing:1px;}
.innerpage.ql-popupDiv h1{font-size:48px; text-align:center; margin-bottom:15px; letter-spacing:1px;}

.homepage.ql-popupDiv .helpbuyTab{overflow-y:auto; overflow-x:hidden; max-height:360px; padding:0 70px;}
.innerpage.ql-popupDiv .helpbuyTab{overflow-y:auto; overflow-x:hidden; max-height:360px; padding:0 70px;}

.homepage.ql-popupDiv .helpbuyTab .nav-tabs {border-bottom: 0px; margin-bottom:30px; text-align:center;}
.innerpage.ql-popupDiv .helpbuyTab .nav-tabs {border-bottom: 0px; margin-bottom:15px; text-align:center;}

.innerpage .hmp-option{margin-top:15px;}
.innerpage .marginT50{margin-top:15px;}

/*.homepage.quickPayment.ql-popupDiv .helpbuyTab .nav-tabs{ margin-top:80px;}
.innerpage.quickPayment.ql-popupDiv .helpbuyTab .nav-tabs{ margin-top:20px;}*/

.innerpage.quickPayment.ql-popupDiv .quickLink-tab .marginTB50 {
    margin-bottom:20px;
    margin-top:20px;
}

.ql-popupDiv .helpbuyTab .nav-tabs > li {float:none; margin:0px; display:inline-block;width:32%;}
.ql-popupDiv .helpbuyTab .nav > li > a {
	background:url(../images/uncheck-icon.png) 20px 12px no-repeat;
	padding:10px 15px 10px 50px; font-size:18px; color:#918f8f !important; border-radius:8px; 
	}
.ql-popupDiv .helpbuyTab .nav > li > a:hover{border-color:#fff;}
.ql-popupDiv .helpbuyTab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background:#faf9f7 url(../images/check-icon.png) 20px 12px no-repeat;
	padding:10px 15px 10px 50px; border:1px solid #f6f4f1; color:#918f8f !important;  
	}
	
.quickLink-tab .datpicker{width:30%; float:left; margin-right:10px;}
.quickLink-tab .remove-icon{width:24px; height:24px; float:left; background:url(../images/remove-icon.png) no-repeat;margin-top: 13px;}

.quickLink-tab .leftForm label{width:35px; float:left; line-height:48px; font-size:18px; color:#3d3c3c;}
.quickLink-tab .leftForm .form-control{
	width:87%; background-color:#f0ede6; border: 1px solid #e3ded4; box-shadow:none; padding-left:10px; padding-right:10px;
    height:50px; transition:none; vertical-align: middle; font-size:13px; border-radius:8px; 
	overflow:hidden;
	}

.quickLink-tab .rightForm label{float:left; width:98px; line-height:48px;  font-size:18px; color:#3d3c3c;}
 
.quickLink-tab .rightForm .form-control{ 
	background-color:#f0ede6; border: 1px solid #e3ded4; border-width:1px 0px 1px 1px; font-size:13px;
    height:50px; transition:none; vertical-align: middle; box-shadow:none; padding: 6px 0 6px 10px; border-radius:8px 0px 0px 8px;
	}
.quickLink-tab .rightForm .input-group-addon {
    background-color:#f0ede6; font-size:20px; border-color:#e3ded4;
    padding:4px 10px !important; text-align:right; border-radius:0px 8px 8px 0px;
}
.quickLink-tab .redlBtn{padding: 15px 18px; font-size:16px; font-weight:600;}
.quickLink-tab input[type="submit"].redlBtn{padding: 15px 18px; font-size:16px; font-weight:600;}

.quickLink-tab .form-control{
	background-color:#f0ede6; border: 1px solid #e3ded4; box-shadow:none;
    height:50px; transition:none; vertical-align: middle; font-size:13px; border-radius:8px;
	}
	
.quickLink-tab .recharge-options{
	background:#f0ede6; border:1px solid #e3ded4; 
	border-radius:10px; padding:5px 0px;
}

.recharge-options ul {list-style:none; margin: 0; padding: 0;}
.recharge-options ul li{margin: 0; padding:2px 0 2px 50px; width:50%; float:left;}
.recharge-options ul li .custom-checkbox{ position: relative; padding:8px 10px;}
.recharge-options ul li .custom-checkbox  input[type="checkbox"]{position:absolute; left:13px; top:11px; margin:0; z-index:0;}
.recharge-options ul li .custom-checkbox label{
	display: block; position: relative; z-index: 1; padding:3px 0 0 30px; cursor: pointer; color:#918f8f;
	background: url(../images/radio1.png) 0px 0px no-repeat; height:20px; margin-bottom:0px;	
	}
.recharge-options ul li .custom-checkbox label.checked{background-position: 0px -20px;}
.recharge-options ul li .custom-checkbox label span{color:#000;}

.close_btn{position:absolute; right:0; top:0;}


/*-------------------------About Us Popup Area Start---------------------*/

	.team-popup.ql-popupDiv{min-height: 330px;position: absolute;margin:0 auto;z-index: 2;background-color: rgba(255, 255, 255, 1);}

/*------------------------About Us Popup Area End----------------------*/

.country-sim {margin-bottom:16px;}
#roam-adv {position:relative;}
.add-image img {margin-top:41px;}
.addva-popup.ql-popupDiv {position:absolute;margin: 0 auto;z-index: 2;background-color: rgba(255, 255, 255, 1);}
.addva-popup {width:100% !important; top:9px !important; left:0 !important; height:100% !important; border:0 !important; padding:35px 0px !important; }	
.addva-popup h2 { text-align: center; margin-bottom:29px;}
.addva-popup .test-name  {display:inline-block;}
.addva-popup .caption-social  {display:inline-block; float:right;}	
.addva-popup h3 {    color: #716e6e; font-size: 15px; letter-spacing:1px;     font-family: 'gotham_htf_bookregular', serif; margin:0px 0 19px 0;}
.addva-popup p {text-align:justify; font-size:12.6px;}
.caption-social img {display:block; float:right; margin:12px 0px 0px 0px;}
.addva-popup .no-margin{ margin: 0;    }
.addva-popup .carousel-indicators li { border:0;}
.addva-popup .carousel-control { color:#000; width: 5%; top:44%; }
.addva-popup .carousel-control.left,
.addva-popup .carousel-control.right {background-image: none;   }
.addva-popup .item{ padding: 15px 66px; background: #fff; }

.addva-popup .panel-group .panel-heading + .panel-collapse > .panel-body {border: 1px solid #fff; background:#f7f4ef; padding:9px 12px; font-size:12.6px;     line-height: 18px;}
.addva-popup .panel-group,.panel-group .panel,.panel-group .panel-heading,.panel-group .panel-heading a,.panel-group .panel-title,
.addva-popup .panel-group .panel-title a,.panel-group .panel-body,.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-radius:0;  border: 0; }
.addva-popup .panel-group .panel+.panel {margin-top: 3px;}
.addva-popup .panel-group .panel-heading {  padding: 0; }
.addva-popup .panel-group .panel-heading a { font-size:12.6px;  display: block;  background:#f6e3dd;  color:#716e6e;  padding:9px 12px 9px 12px;  text-decoration: none;  position: relative; font-weight:600; line-height: 16px; font-family: 'gotham_htf_bookregular', serif;}
.addva-popup .panel-group .panel-heading a.collapsed {  background: #f6e3dd;  color: inherit;}
.addva-popup .panel-group .panel-heading a:after {  content: '-';  position: absolute; color:#939393; font-weight:300;  right:0px;  top:8px;  font-size:26px; padding-right:12px;}
.addva-popup .panel-group .panel-heading a.collapsed:after {  content: '+';}

.enter-pin {position:relative;}
.error-massege1 {border:1px solid #b0b0b0; margin-right:16px; right:0;  width:416px; float:right; position:absolute;  background:#f7f4ef; text-align:left; color:#df4a4a; -webkit-box-shadow: 2px 5px 17px 3px rgba(0,0,0,0.22);
-moz-box-shadow: 2px 5px 17px 3px rgba(0,0,0,0.22);
box-shadow: 2px 5px 17px 3px rgba(0,0,0,0.22); z-index:99; top:56px;}
.div-re {position:relative; padding:23px 16px; letter-spacing:-0.5px; line-height: 20px;}
.error-close {position:absolute;     padding:0px 6px; top:0; right:0; text-align:center; color:#fff; background:#616161; font-size:14px;}
.error-close:hover {color:#fff;}
#triangle-topleft {width: 0;height: 0;  position: absolute;top: -20px;left: 52px;}

.product-popup.ql-popupDiv {position: absolute; margin: 0 auto; z-index: 999; background-color: rgba(255, 255, 255, 0.1);}
.product-popup {width: 100% !important;top: 9px !important;left: 0 !important;height: 100% !important; border: 0 !important;padding: 35px 0px !important;}
.product-popup h2 { text-align: center; margin-bottom:29px;}
.product-popup .test-name  {display:inline-block;}
.product-popup .caption-social  {display:inline-block; float:right;}	
.product-popup h3 {    color: #716e6e; font-size: 15px; letter-spacing:1px;     font-family: 'gotham_htf_bookregular', serif; margin:0px 0 19px 0;}
.product-popup p {text-align:justify; font-size:12.6px;}
.product-popup .acc-padding {padding:36px 29px 29px 29px;     background-color: rgba(247, 244, 239, 1);}
.top-text .pop-bigtext {padding-left:0; font-size:30px; font-weight:normal; color:#534f4c; border-right:1px solid #939393; display:inline-block; padding-right:16px;}
.acc-padding .ModifySearch {margin-bottom:36px !important;} 

.pop-close{position:absolute; right:15px; top:35px; width:43px; height:43px;}
.innJumper-text ul {padding-left:0;}
.innJumper-text ul li {font-size: 25px; list-style-type:none; font-weight:300;line-height: 36px;  }
.innJumper-text ul li span {display:inline-block; vertical-align: middle; width:22px; height:22px; line-height: 23px; border-radius:100%; background:#fff; text-align:center; color:#666; font-size:14px; font-weight:200; margin-right:13px;}
.innJumper-text ul li span.ul-1 {display:inline-block; width:auto; height:auto; background:none; text-align:left; color:#fff; font-size: 25px; list-style-type:none; font-weight:300;line-height: 36px; vertical-align: top;}


.product-popup .panel-group .panel-heading + .panel-collapse > .panel-body {border: 1px solid #fff; background:#f7f4ef; padding:14px 12px !important; font-size:12.6px;     line-height: 18px;}
.product-popup .panel-group,.panel-group .panel,.panel-group .panel-heading,.panel-group .panel-heading a,.panel-group .panel-title,
.product-popup .panel-group .panel-title a,.panel-group .panel-body,.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-radius:0;  border: 0; }
.product-popup .panel-group .panel+.panel {margin-top: 3px;}
.product-popup .panel-group .panel-heading {  padding: 0; }
.product-popup .panel-group .panel-heading a { font-size:12.6px;  display: block;  background:#e6e1db;  color:#716e6e;  padding:9px 12px 9px 12px;  text-decoration: none;  position: relative; font-weight:600; line-height: 16px; font-family: 'gotham_htf_bookregular', serif;}
.product-popup .panel-group .panel-heading a.collapsed {  background: #e6e1db;  color: inherit;}
.product-popup .panel-group .panel-heading a:after {  content: '-';  position: absolute; color:#939393; font-weight:300;  right:0px;  top:8px;  font-size:26px; padding-right:12px;}
.product-popup .panel-group .panel-heading a.collapsed:after {  content: '+';}
.product-popup .pop-w-gray {background:#f8f8f7; padding:29px;     line-height: 22px;}



/*-------------------------Checout Area Start---------------------*/

.checkout_area .pay-top-menu{width:750px;}
.checkout_area .checkout_part .mid-border {
    height: 1px;
    background: #d4d4d4;
    width: 165px;
    position: absolute;
    top: 30px;
    margin: auto;
    left: 166px;
    right: 0;
}

.chechout-gray-bg {background: #f7f4ef; padding:10px 0;}
.chechout-gray-bg thead td div{padding-bottom:24px; color:#4d4a45;}
.chechout-gray-bg tbody td div{color:#94918c;}
.chechout-gray-bg td {border-left:1px solid #dad7d2;text-align:center;}
.chechout-gray-bg td:first-child{border-left:none;}
.chechout-gray-bg td div.plan_name{color:#54504d; font-size:16px;}
.chechout-gray-bg .quantity input{width:12%; background:#f7f4ef; border:1px outset; text-align:center;outline: none; margin-bottom:20px;}
.chechout-gray-bg .quantity a{ font-size:12px; text-decoration:underline;}
.chechout-gray-bg.padding_25 h4{margin-left:30px; float:left;}
.chechout-gray-bg.padding_25 .input_part{float:right;width:50%;}
.chechout-gray-bg.padding_25 .input_part button{margin:0;padding:8px 30px;}
.chechout-gray-bg.padding_25 .input_part input{width:65%;border-radius: 8px;padding: 6px 0;border: 1px solid #dfdfd7;outline: none;}
.padding_25{padding:25px;}
.summry_tag{ margin:15px 0 12px;}
.chechout-gray-bg.summry{ padding:20px 12px 25px;}
.chechout-gray-bg.summry tr{border-bottom:1px solid #dfdfd7;}
.chechout-gray-bg.summry tr td{padding:20px; text-align:left; color:#534f4c; border-left:none;}
.chechout-gray-bg.summry tr td div{text-align:right; border-left:none;margin-top: -16px;margin-left: 25px; color:#534f4c;}
.addon{padding:25px 20px; font-size:11px;}
.addon div{border-bottom:1px solid #6b6764; display:inline-block; padding-bottom:3px; margin-bottom:8px;}
.addon a{color:#6b6764; font-size:16px;}

.contact_part{margin:55px 0 0;}
.contact_part .email_part{ margin-top:15px;}
.contact_part .email_part input{background: #f7f4ef; border:1px solid #e1ded9; border-radius:4px; padding:10px 12px;width: 30%;font-size:12px;outline: none;}

.conditions{font-size:12px; margin:20px 0 30px;}
.conditions a{color:#2777b6;}

.button_area .guest{margin: 0;padding: 8px 30px;background: #E04A4B;font-size: 13px;font-weight: 600;letter-spacing: 2px;border: 0;outline: none;}
.button_area .login{margin: 0;padding: 8px 30px;background: #666;font-size: 13px;font-weight: 600;letter-spacing: 2px;border: 0;outline: none;color: #fff;border-radius: 6px;}

.cartPopup .popup h2{padding:30px 0;}
.cartPopup .popup button.close{padding: 8px 12px;}s
.cartPopup .helpbuyTab .nav-tabs {
    border-bottom: 0px;
    margin-bottom:10px;
    text-align: center;
}
.checkOut.cartPopup .helpbuyTab .nav-tabs > li {width:40%;}
.cartPopup .helpbuyTab .nav-tabs > li {
    float: none;
    margin: 0px;
    display: inline-block;
    width: 32%;
	position: relative;    
}
.cartPopup .helpbuyTab .nav > li > a {
	background:url(../images/uncheck-icon.png) 20px 12px no-repeat;
	padding:10px 15px 10px 50px; font-size:18px; color:#918f8f !important; border:none;
	}
.cartPopup .helpbuyTab .nav > li > a:hover{border-color:#fff;}
.cartPopup .helpbuyTab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background:url(../images/check-icon.png) 20px 12px no-repeat; border:none;
	padding:10px 15px 10px 50px; color:#918f8f !important;font-size: 18px;  
	}

.chechout-gray-bg.summry .cartPopup tr{ border-bottom:none;}
.chechout-gray-bg.summry .cartPopup tr td{ border-right:1px solid #dfdfd7; text-align:center;padding: 10px 8px;}

.summry_tag.topBorder{padding-top:15px;margin: 30px 0 20px;}

.checkOut.cartPopup .nav-tabs{border-bottom:none;}

.checkOut.cartPopup .popup{ background:none;min-height:200px;}

.checkOut.cartPopup .popup input{ background:#fff;}
.checkOut.cartPopup .popup select{background:#fff url(../img/ar.png) no-repeat 96% !important;}

.checkOut.cartPopup .popup input[type="checkbox"]{width:auto; float:left; height:auto;}

/*-------------------------Checout Area Start---------------------*/
