.navbar-toggle{margin-top:55px;}

.navbar-fixed-top{top:auto !important;}
.navbar-brand.navbar-brand{ padding:35px 15px; margin-right:25px;}

.navbar > .container .navbar-brand{margin-left:0 !important;}

.navbar-static-top {margin-bottom:0px;}
.navbar-static-top {border-width:0px;}
.navbar{box-shadow:inherit; margin-bottom:0px !important; z-index:3 !important;}
.navbar-default{background:#fff !important; border:0px !important; border-radius:0px !important;}
.navbar-nav{margin-top:50px; font-size:16px; color:#aaaaaa; float:right; font-weight:400;}

.navbar-default .navbar-nav>li>a{padding:45px 10px 46px; margin:0 10px;color:#505050 !important;}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
   background-color:transparent;
   color: #df4a4a !important; /*border-bottom:4px solid #fcb242;*/
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > 
.open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color:transparent !important;
    color:#df4a4a  !important; /*border-bottom:4px solid #fcb242;*/
}
.navbar .navbar-nav > .active > a {
    background-color:transparent;
    color:#df4a4a ; /*border-bottom:4px solid #fcb242;*/
}
.navbar .navbar-nav > .active > a :hover{
    background-color:transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	background-color:transparent;
    color:#df4a4a  !important; /*border-bottom:4px solid #fcb242;*/
}

.dataSubnav{background:#f7f4ee; border-top:1px solid #dedcd6; padding:15px; text-align:center; display:none;}
.yamm-content ul li a:hover .dataSubnav{display:block;}

/*--- Dropdown Menu ---*/
.dropdown-menu{
	background:rgba(247,244,238,1) !important; border:0px !important; 
	border-radius:0px !important; font-weight:400; box-shadow:none !important;
	}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown{position:static;}
.yamm .dropdown-menu{left: auto; padding:0px;}
.yamm .yamm-content{padding:0px; color:#939393; text-align:center;}

.yamm .yamm-content ul{padding:0px; margin:0px; list-style:none;}
.yamm .yamm-content ul li{ margin:0 0 0 -5px; padding:50px 0; display:inline-block; width:19%;}
.yamm .yamm-content ul li:hover{background:#f5e3dd;}
.yamm .yamm-content ul li a{display:block; padding:0px 10%;color:#939393;border-right:1px solid #dbd7d3;}
.yamm .yamm-content ul li a:hover{border-right:none;}
.yamm .yamm-content ul li a:hover{color:#939393 !important;}
.yamm .yamm-content ul li p {font-size:11px; line-height:19px;}
.yamm .yamm-content ul li p:last-child{margin-bottom:0px;}

.yamm .yamm-content .submenu{
	position: absolute; z-index:99; width:100%; height:50px; left:0px; top:100%; 
	background:#f7f4ee; display:none; border-top:1px solid #dbd7d3; padding:15px;
	text-align:center;
	}
.yamm .yamm-content .submenu ul li{display:inline-block; margin:0 0 0 -3px; padding:0; list-style:none; width:auto;}
.yamm .yamm-content .submenu ul li a{
	padding:0px 15px; font-size:11px; text-decoration:underline;
	font-weight:bold; border-right:1px solid #939393; color:#505050;
	}
.yamm .yamm-content .submenu ul li:hover{background-color:transparent !important;}
.yamm .yamm-content .submenu ul li a:hover{text-decoration:none;}

.yamm .yamm-content ul li:last-child a{border-right:0px;}
.yamm .yamm-content ul li h6{margin-top:10px; font-family: 'gotham_htfmedium';font-weight:600;}
.yamm .yamm-content ul li h6 span{text-align:center; display:block; color:#a9a8a8; margin-top:6px;}
.yamm .yamm-content ul li span.icons{
	background-color:#3d3c3c; border-radius:100%; display:inline-block;
	width:60px; height:60px; line-height:60px; text-align:center; margin: auto;
}
.yamm .yamm-content ul li span.icons img{height:33px;}

/*.yamm .yamm-content .dropdown-menu{text-align:center; margin:0px; padding:0 35px; position:relative;}
.yamm .yamm-content .dropdown-menu a{color:#2d2e2f; display:block;}
.yamm .yamm-content .dropdown-menu a:hover span.icons{background-color:#df4a4a;}
.yamm .yamm-content .dropdown-menu h3{font-family: 'gotham_htfmedium'; font-weight:400; margin:20px 0;}
.yamm .yamm-content .dropdown-menu h3 span{color:#c9c6c2;}
.yamm .yamm-content .dropdown-menu span.icons{
	background-color:#3d3c3c; border-radius:100%; display:inline-block;
	width:95px; height:95px; line-height:95px; text-align:center;
}*/

/*.yamm .yamm-content a{color:#91989c;}
.yamm .yamm-content a:hover{color:#fff;}*/

/*.yamm .yamm-content h2{color:#fcb242; border-bottom:1px solid #fcb242; padding-bottom:20px; margin-bottom:50px;}
.yamm .yamm-content h4 a{color:#6fb07f;}
.yamm .yamm-content h4 a:hover{color:#fcb242;}*/

.yamm .dropdown.yamm-fw .dropdown-menu {left:0; right:0;}

.fixed_nav{top:0px; right:0; left:0; position:fixed; width:100%; z-index:1004;}

.nav-arrow1{position:absolute; z-index:-1; left:23%; top:-10px;}
.nav-arrow2{position:absolute; z-index:-1; left:31%; top:-10px;}
.nav-arrow3{position:absolute; z-index:-1; left:40%; top:-10px;}

.callnumber{width:95%; float:left;}
.callclose{width:5%; float:right;}

.yamm ul li:hover .submenu{display:block;}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 768px) {
.nav > li.dropdown:hover > ul.dropdown-menu {display:block;} 	
}
@media (max-width: 1192px) {
	
	.nav-arrow2{left: 33%;}
	.nav-arrow3{left: 44%;}
}
@media (max-width: 992px) {
.navbar-nav{margin-top:56px;}
.nav > li > a{padding:10px 4px; font-size:15px;}
.navbar-default .navbar-nav > li > a{padding:40px 5px 41px; margin:0 5px;}


}

@media (max-width: 768px) {
.navbar-nav{float: inherit;}
.navbar-nav .open .dropdown-menu{background-color:#0c212e;}

.fixed_nav{ position:inherit;}	
}
@media (max-width: 767px) {
.navbar-nav{margin-top:0;}	

.navbar-default .navbar-nav > li > a{padding:10px 0; margin:0 15px;}
.yamm .yamm-content ul li{ margin:0px; padding:12px 0; display:block; width:100%;}
.yamm .yamm-content ul li a{display:block; padding:0px 15px; border-right:0px;}

.yamm .yamm-content ul li h6 {margin:0; font-family:'gotham_htf_bookregular', serif; font-size:12px;}
.yamm .yamm-content ul li.right_border {padding:0; border:0;}
.yamm .yamm-content ul li h6 span {display:inline-block;}
.yamm .dropdown.yamm-fw .dropdown-menu {margin-bottom:12px;}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {background-color:#f7f4ef; border-bottom:2px solid #fff;}
.yamm .yamm-content {background-color:#fff;} 
.yamm .yamm-content .nav-arrow1 {display:none;}
.yamm .yamm-content .submenu {background-color:#fff;} 
.loginForm {background:#fff;}
.dropdown-toggle .fa {font-size:10px;}
.loginForm .redlBtn {margin-top:0;}
.loginForm .form-group .help-block {text-align:center;}
.loginForm .SignupLink {text-align:center;} 


.navbar-toggle{margin-top:40px !important;}

.yamm .yamm-content ul li{position:relative;}
	
}

.search_part{position: absolute;right:23%;bottom:35px; width:20%; display:none;}
.search_part input{background: #F0EDE6;
    font-size: 13px;
    color: #908E8F;
    outline: none;
    font-weight: normal;
    width: 100%;
    border-radius: 6px;
    margin:0 auto;
    padding: 10px 10px;
    border: 1px solid #E4DDD3;
}
	
	