
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF; display: inline-block; zoom: 1;
	*display: inline;/*IE7 life-saver */ margin:0px;
	padding: 3px 0px; font-size: 12px;
	filter: Alpha(Opacity=60);/*IE7 fix*/ opacity: ;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=80);/*IE7 fix*/ opacity:0.8; text-decoration: none;
} 


/* preloading images */
.owl-theme .owl-controls {
	bottom:40px; position: absolute; text-align: center;
    width: 100%; z-index: 999;
	-webkit-tap-highlight-color: transparent
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
	background: #869791;
	color: #fff;
	text-decoration: none
}
.owl-theme .owl-controls .owl-nav .disabled {
	opacity: .5;
	cursor: default
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display:inline
}
.owl-theme .owl-dots .owl-dot span {
	width: 18px; height: 18px; margin: 5px 4px; opacity:1;
	background: #fff; border:3px solid #e8454a; display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #e8454a; border:3px solid #333;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	 opacity:1;
}
.owl-item.loading{
	min-height: 150px;
	background: url(../img/ui/AjaxLoader.gif) no-repeat center center
}
	
/*--- Add Our Story Css Carusal ---*/
.owl-prev{
	position:absolute; left:-120px; top:50%; height:34px; width:34px; text-indent:-99999px;
	background:url(../img/ui/left-arrow.jpg) center center no-repeat !important;
	border-radius:0px; margin-top:-17px;
	}
/*.owl-prev:hover{background:url(../img/ui/hp-prev-arrow-hov.png) center center no-repeat;}*/
.owl-next{
	position:absolute; right:-120px; top:50%; height:34px; width:34px; text-indent:-99999px;
	background:transparent url(../img/ui/right-arrow.jpg) center center no-repeat !important;
	border-radius:0px; margin-top:-17px;
	}
<!--.owl-next:hover{background:url(../img/ui/hp-next-arrow-hov.png) center center no-repeat;}-->



@media screen and (max-width:600px) {
.owl-theme .owl-controls .owl-buttons div{display:none;}

}