.navbar-static-top {margin-bottom:0px;}

.navbar {background-image:inherit; background-repeat:inherit; box-shadow:none; min-height:auto; clear:both; margin:10px 0 0px;}
.navbar-default {background-color:transparent; border-color:transparent;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color:transparent; text-align:center;}

.navbar-default .navbar-nav > li > a {color: #2d2e2f; font-family: 'Lora', serif; font-weight:bold;}
.navbar-default .navbar-nav > li > a:hover{background-color:transparent; color:#e54268;}

.navbar-nav{float:none; display:inline-block;}
.navbar-nav > li > a {line-height:normal; padding:15px 22px; font-size:18px;}

/*.navbar-nav > li:last-child a{padding-right:0px;}*/

.navbar .navbar-nav > .active > a {background-color:transparent; color:#e54268;}

/* hover Effect */
.navbar .navbar-nav > li:hover > a, .navbar .navbar-nav > a:hover {color: #e54268;}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	background-color:transparent; color:#e54268;
}

.dropdown-menu{padding:0 0 8px; border:0px; border-radius:8px; background:#3a3b3c}
.dropdown-menu > li > a{padding:8px 10px; color:#FFF; font-family: 'Lora', serif; font-weight:300;}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {background-color:#2d2e2f;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {background-color:#2d2e2f;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, 
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus{
	background-image:inherit;
	background-repeat:inherit;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 768px) {
	.nav > li.dropdown:hover > ul.dropdown-menu {display:block;} 
	}
	

/*--- Tablet View Css here ---*/
@media (max-width: 992px) {
.navbar-nav > li > a {line-height:normal; padding:0px 15px; font-size:15px;}
}	


/*--- Mobile View Css here ---*/
@media (max-width: 768px) {
.navbar-toggle{margin-right:0px;}
.navbar-default .navbar-toggle {border-color:#e54268;}	
.navbar-default .navbar-toggle .icon-bar {background-color:#e54268;}	
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#fff;}

.navbar-nav > li > a {padding:5px 15px; font-size:15px; text-align:left;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color:#ccc; background-color:#f5f5f5; text-align:left;}

.dropdown-menu > li > a{text-align:left;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #e54268;
    color: #fff;
}
.navbar-nav {margin: 0 -15px;}
.navbar-nav > li > a {padding:7px 15px;}

}